<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LCDAwatarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1667},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>LCDAwatarstencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1945},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>LCDBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{716,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,146}}</string>
                <key>sourceSize</key>
                <string>{716,146}</string>
            </dict>
            <key>LCDDescFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1423},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>LCDItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,989},{676,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,81}}</string>
                <key>sourceSize</key>
                <string>{676,81}</string>
            </dict>
            <key>LobbyPlayDS.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,710},{277,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,334}}</string>
                <key>sourceSize</key>
                <string>{277,334}</string>
            </dict>
            <key>LobbyPlayDSAct.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2026},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>LobbyPlayDSScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1963},{197,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,66}}</string>
                <key>sourceSize</key>
                <string>{197,66}</string>
            </dict>
            <key>LobbyPlayDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,248},{277,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,334}}</string>
                <key>sourceSize</key>
                <string>{277,334}</string>
            </dict>
            <key>LobbyPlayJY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,248},{277,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,334}}</string>
                <key>sourceSize</key>
                <string>{277,334}</string>
            </dict>
            <key>LobbyPlayJYAct.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1911},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>LobbyPlayJYScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1524},{197,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,66}}</string>
                <key>sourceSize</key>
                <string>{197,66}</string>
            </dict>
            <key>LobbyPlayKSKS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,917},{395,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,133}}</string>
                <key>sourceSize</key>
                <string>{395,133}</string>
            </dict>
            <key>LobbyPlayNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1253},{250,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,36}}</string>
                <key>sourceSize</key>
                <string>{250,36}</string>
            </dict>
            <key>LobbyPlayOnline.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1958},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>LobbyPlayPaoGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1830},{83,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,102}}</string>
                <key>sourceSize</key>
                <string>{83,102}</string>
            </dict>
            <key>LobbyPlaySRF.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,638},{277,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,334}}</string>
                <key>sourceSize</key>
                <string>{277,334}</string>
            </dict>
            <key>LobbyPlaySRFAct.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1925},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>LobbyPlayXS.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,917},{277,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,334}}</string>
                <key>sourceSize</key>
                <string>{277,334}</string>
            </dict>
            <key>LobbyPlayXSAct.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2026},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>LobbyPlayXSScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1958},{198,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,66}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>btnAdd0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,169},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>btnAdd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1945},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>btnBRNN.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1496},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>btnCreateRoom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,989},{432,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,60}}</string>
                <key>sourceSize</key>
                <string>{432,60}</string>
            </dict>
            <key>btnEnded.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2008},{93,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,32}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>btnHHDZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1726},{228,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,230}}</string>
                <key>sourceSize</key>
                <string>{228,230}</string>
            </dict>
            <key>btnInputDelete0.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1492},{155,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,84}}</string>
                <key>sourceSize</key>
                <string>{155,84}</string>
            </dict>
            <key>btnInputDelete1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1688},{155,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,84}}</string>
                <key>sourceSize</key>
                <string>{155,84}</string>
            </dict>
            <key>btnJoinRoomCR.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,263},{359,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,445}}</string>
                <key>sourceSize</key>
                <string>{359,445}</string>
            </dict>
            <key>btnKPQZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1291},{228,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,230}}</string>
                <key>sourceSize</key>
                <string>{228,230}</string>
            </dict>
            <key>btnKSKS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,584},{358,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,139}}</string>
                <key>sourceSize</key>
                <string>{358,139}</string>
            </dict>
            <key>btnMinus0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,310},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>btnMinus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,362},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>btnMyChess0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,944},{192,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,33}}</string>
                <key>sourceSize</key>
                <string>{192,33}</string>
            </dict>
            <key>btnMyChess1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,2},{194,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,36}}</string>
                <key>sourceSize</key>
                <string>{194,36}</string>
            </dict>
            <key>btnMyRoom0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1138},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>btnMyRoom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1911},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>btnNum0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1654},{155,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,84}}</string>
                <key>sourceSize</key>
                <string>{155,84}</string>
            </dict>
            <key>btnNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1740},{155,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,84}}</string>
                <key>sourceSize</key>
                <string>{155,84}</string>
            </dict>
            <key>btnPSZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1751},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>btnProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2008},{93,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,32}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>btnRadioBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1649},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btnRadioSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1644},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>btnReset0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1673},{155,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,84}}</string>
                <key>sourceSize</key>
                <string>{155,84}</string>
            </dict>
            <key>btnReset1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1826},{155,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,84}}</string>
                <key>sourceSize</key>
                <string>{155,84}</string>
            </dict>
            <key>btnRoomInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,989},{653,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,55}}</string>
                <key>sourceSize</key>
                <string>{653,55}</string>
            </dict>
            <key>btnSRF.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,917},{358,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,139}}</string>
                <key>sourceSize</key>
                <string>{358,139}</string>
            </dict>
            <key>imgAddMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1492},{194,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,45}}</string>
                <key>sourceSize</key>
                <string>{194,45}</string>
            </dict>
            <key>imgBRNNBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1981},{104,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,59}}</string>
                <key>sourceSize</key>
                <string>{104,59}</string>
            </dict>
            <key>imgBRNNHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1522},{137,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,130}}</string>
                <key>sourceSize</key>
                <string>{137,130}</string>
            </dict>
            <key>imgBRNNPork.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1522},{149,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,110}}</string>
                <key>sourceSize</key>
                <string>{149,110}</string>
            </dict>
            <key>imgBRNNText.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1277},{214,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,58}}</string>
                <key>sourceSize</key>
                <string>{214,58}</string>
            </dict>
            <key>imgBRNNTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1915},{107,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,28}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>imgBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1267},{123,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,17}}</string>
                <key>sourceSize</key>
                <string>{123,17}</string>
            </dict>
            <key>imgBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,710},{127,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,21}}</string>
                <key>sourceSize</key>
                <string>{127,21}</string>
            </dict>
            <key>imgBigStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,944},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>imgCreateRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1673},{137,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,36}}</string>
                <key>sourceSize</key>
                <string>{137,36}</string>
            </dict>
            <key>imgCreateRoomItemLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1522},{17,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,104}}</string>
                <key>sourceSize</key>
                <string>{17,104}</string>
            </dict>
            <key>imgCreateRoomLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,989},{496,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,2}}</string>
                <key>sourceSize</key>
                <string>{496,2}</string>
            </dict>
            <key>imgCreateRoomMM.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,263},{361,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,324}}</string>
                <key>sourceSize</key>
                <string>{361,324}</string>
            </dict>
            <key>imgCreateRoomPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{519,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,165}}</string>
                <key>sourceSize</key>
                <string>{519,165}</string>
            </dict>
            <key>imgCreateRoomPork.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,626},{298,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,253}}</string>
                <key>sourceSize</key>
                <string>{298,253}</string>
            </dict>
            <key>imgCreateRoomText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,944},{325,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,117}}</string>
                <key>sourceSize</key>
                <string>{325,117}</string>
            </dict>
            <key>imgEndedFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1985},{231,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,54}}</string>
                <key>sourceSize</key>
                <string>{231,54}</string>
            </dict>
            <key>imgGameDownload.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,414},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>imgGameLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,881},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>imgGameOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1743},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>imgGameUpdateText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,456},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>imgHHDZBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1294},{140,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,151}}</string>
                <key>sourceSize</key>
                <string>{140,151}</string>
            </dict>
            <key>imgHHDZRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,768},{144,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,154}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
            <key>imgHHDZText.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1524},{217,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,59}}</string>
                <key>sourceSize</key>
                <string>{217,59}</string>
            </dict>
            <key>imgHHDZTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,881},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>imgInputNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,944},{320,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,46}}</string>
                <key>sourceSize</key>
                <string>{320,46}</string>
            </dict>
            <key>imgInputOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,169},{515,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,77}}</string>
                <key>sourceSize</key>
                <string>{515,77}</string>
            </dict>
            <key>imgInputPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,989},{505,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,159}}</string>
                <key>sourceSize</key>
                <string>{505,159}</string>
            </dict>
            <key>imgKPQZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1667},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>imgKPQZBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1912},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>imgKPQZHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1271},{162,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,159}}</string>
                <key>sourceSize</key>
                <string>{162,159}</string>
            </dict>
            <key>imgKPQZText.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1277},{213,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,59}}</string>
                <key>sourceSize</key>
                <string>{213,59}</string>
            </dict>
            <key>imgKPQZTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,198},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>imgKSKSHuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,638},{128,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,156}}</string>
                <key>sourceSize</key>
                <string>{128,156}</string>
            </dict>
            <key>imgKSKSText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1435},{184,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,85}}</string>
                <key>sourceSize</key>
                <string>{184,85}</string>
            </dict>
            <key>imgMyInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{774,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{774,111}}</string>
                <key>sourceSize</key>
                <string>{774,111}</string>
            </dict>
            <key>imgMyRoomItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1035},{706,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,66}}</string>
                <key>sourceSize</key>
                <string>{706,66}</string>
            </dict>
            <key>imgMyRoomTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{770,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,45}}</string>
                <key>sourceSize</key>
                <string>{770,45}</string>
            </dict>
            <key>imgPSZHongChouMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1912},{94,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,51}}</string>
                <key>sourceSize</key>
                <string>{94,51}</string>
            </dict>
            <key>imgPSZHuangChouMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1972},{105,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,63}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>imgPSZLvChouMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1981},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>imgPSZPork.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1436},{188,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,138}}</string>
                <key>sourceSize</key>
                <string>{188,138}</string>
            </dict>
            <key>imgPSZText.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1981},{164,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,59}}</string>
                <key>sourceSize</key>
                <string>{164,59}</string>
            </dict>
            <key>imgPSZTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1721},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>imgPaoGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1626},{93,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,123}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
            <key>imgProgressEnded.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,584},{466,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,52}}</string>
                <key>sourceSize</key>
                <string>{466,52}</string>
            </dict>
            <key>imgProgressFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1291},{231,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,54}}</string>
                <key>sourceSize</key>
                <string>{231,54}</string>
            </dict>
            <key>imgRotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1751},{174,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,210}}</string>
                <key>sourceSize</key>
                <string>{174,210}</string>
            </dict>
            <key>imgSRFMM.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1314},{147,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,167}}</string>
                <key>sourceSize</key>
                <string>{147,167}</string>
            </dict>
            <key>imgSRFText.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1723},{186,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,85}}</string>
                <key>sourceSize</key>
                <string>{186,85}</string>
            </dict>
            <key>imgScale.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1521},{228,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,230}}</string>
                <key>sourceSize</key>
                <string>{228,230}</string>
            </dict>
            <key>imgSmallStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,839},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>imgTipPaoPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1845},{134,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,73}}</string>
                <key>sourceSize</key>
                <string>{134,73}</string>
            </dict>
            <key>imgTipPaoPaoGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,115},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>imgTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,881},{411,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,149}}</string>
                <key>sourceSize</key>
                <string>{411,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbyGameEnter.png</string>
            <key>size</key>
            <string>{1345,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fd047755c4d2fea9fa5e00d625fb91f:fc892389dd49156896c4a1b954e1fad3:520d85f97f02217ab152d9ba497992b2$</string>
            <key>textureFileName</key>
            <string>LobbyGameEnter.png</string>
        </dict>
    </dict>
</plist>
