<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LCDAwatarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,281},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>LCDAwatarstencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,281},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>LCDBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,634},{903,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,568}}</string>
                <key>sourceSize</key>
                <string>{903,568}</string>
            </dict>
            <key>LCDDescFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1539},{835,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,106}}</string>
                <key>sourceSize</key>
                <string>{835,106}</string>
            </dict>
            <key>LCDItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1791},{837,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,70}}</string>
                <key>sourceSize</key>
                <string>{837,70}</string>
            </dict>
            <key>LCDTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1965},{143,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
            <key>LobbyPlayDS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,380},{286,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,376}}</string>
                <key>sourceSize</key>
                <string>{286,376}</string>
            </dict>
            <key>LobbyPlayDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,2},{277,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,334}}</string>
                <key>sourceSize</key>
                <string>{277,334}</string>
            </dict>
            <key>LobbyPlayJY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,2},{286,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,376}}</string>
                <key>sourceSize</key>
                <string>{286,376}</string>
            </dict>
            <key>LobbyPlayKSKS.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1917},{288,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,95}}</string>
                <key>sourceSize</key>
                <string>{288,95}</string>
            </dict>
            <key>LobbyPlayNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1539},{250,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,36}}</string>
                <key>sourceSize</key>
                <string>{250,36}</string>
            </dict>
            <key>LobbyPlayOnline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,988},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>LobbyPlayPaoGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1958},{83,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,102}}</string>
                <key>sourceSize</key>
                <string>{85,102}</string>
            </dict>
            <key>LobbyPlaySRF.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1647},{286,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,376}}</string>
                <key>sourceSize</key>
                <string>{286,376}</string>
            </dict>
            <key>LobbyPlayXS.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1539},{286,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,376}}</string>
                <key>sourceSize</key>
                <string>{286,376}</string>
            </dict>
            <key>btnAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,281},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>btnCreateRoomCmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1867},{261,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,89}}</string>
                <key>sourceSize</key>
                <string>{261,89}</string>
            </dict>
            <key>btnGuanZhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1969},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>btnInputDelete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1958},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>btnInvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1969},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>btnJoinRoomCR.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1647},{261,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,89}}</string>
                <key>sourceSize</key>
                <string>{261,89}</string>
            </dict>
            <key>btnKSKS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,281},{216,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,100}}</string>
                <key>sourceSize</key>
                <string>{216,100}</string>
            </dict>
            <key>btnLookDedtail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,894},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>btnMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,341},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>btnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,499},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>btnNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1965},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>btnRadioBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,988},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btnRadioSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,988},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1910},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>btnSRF.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,668},{216,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,100}}</string>
                <key>sourceSize</key>
                <string>{216,100}</string>
            </dict>
            <key>btnSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1867},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>btnSmall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-107.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{216,100}</string>
            </dict>
            <key>btnTopSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,634},{352,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,76}}</string>
                <key>sourceSize</key>
                <string>{352,76}</string>
            </dict>
            <key>btnbig_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-225,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{451,161}</string>
            </dict>
            <key>imgAddMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1965},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>imgBRNNText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{451,153}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{451,153}}</string>
                <key>sourceSize</key>
                <string>{451,161}</string>
            </dict>
            <key>imgCreateRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2002},{137,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,36}}</string>
                <key>sourceSize</key>
                <string>{137,36}</string>
            </dict>
            <key>imgCreateRoomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1308,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1308,630}}</string>
                <key>sourceSize</key>
                <string>{1308,630}</string>
            </dict>
            <key>imgCreateRoomLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1863},{918,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,2}}</string>
                <key>sourceSize</key>
                <string>{918,2}</string>
            </dict>
            <key>imgCreateRoomPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1020},{449,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,629}}</string>
                <key>sourceSize</key>
                <string>{449,629}</string>
            </dict>
            <key>imgGameDownload.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,396},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>imgGameLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,281},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>imgGameOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,668},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>imgGameUpdateText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,333},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>imgInputNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,634},{258,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{258,35}}</string>
                <key>sourceSize</key>
                <string>{260,37}</string>
            </dict>
            <key>imgInputOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,341},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>imgInputPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{903,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,592}}</string>
                <key>sourceSize</key>
                <string>{903,592}</string>
            </dict>
            <key>imgInputPanelText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2011},{142,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,35}}</string>
                <key>sourceSize</key>
                <string>{142,35}</string>
            </dict>
            <key>imgKPQZText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1647},{451,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,161}}</string>
                <key>sourceSize</key>
                <string>{451,161}</string>
            </dict>
            <key>imgMyRoomItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{1016,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1016,55}}</string>
                <key>sourceSize</key>
                <string>{1016,55}</string>
            </dict>
            <key>imgMyRoomTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1651},{748,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{748,22}}</string>
                <key>sourceSize</key>
                <string>{748,26}</string>
            </dict>
            <key>imgPSZText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1867},{451,139}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{451,139}}</string>
                <key>sourceSize</key>
                <string>{451,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbyGameEnter.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cfb940c191630ebd18e2bab269b2bee:1/1$</string>
            <key>textureFileName</key>
            <string>LobbyGameEnter.png</string>
        </dict>
    </dict>
</plist>
