<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>vfx_tex_FBguangxian.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vfx_tex_yuan.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ks_s.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>458</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>64.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ks_k.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-68.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>ks_maozi.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>748</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ks_daizi.png</key>
			<dict>
				<key>width</key>
				<integer>501</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>501</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00000.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1384</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00001.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1555</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00002.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1731</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00003.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00004.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00005.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00006.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00007.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>747</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00008.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>939</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00009.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1134</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00010.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1330</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>23.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00011.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1527</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>24</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00012.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1725</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>24.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00013.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>25.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00014.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00015.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00016.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00017.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>765</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00018.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>941</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>baofa_lz/xixi_lzlz_00019.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1103</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>vfx_tes_glow_yuan.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ks_di.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>1455</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>game_start_Animation0.png</string>
			<key>realTextureFileName</key>
			<string>game_start_Animation0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>