<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>chat_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{573,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,714}}</string>
                <key>sourceSize</key>
                <string>{573,714}</string>
            </dict>
            <key>chat_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>chat_boxBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,6},{378,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,58}}</string>
                <key>sourceSize</key>
                <string>{378,58}</string>
            </dict>
            <key>chat_btn_chat_.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,898},{71,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,178}}</string>
                <key>sourceSize</key>
                <string>{71,178}</string>
            </dict>
            <key>chat_btn_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,718},{71,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,178}}</string>
                <key>sourceSize</key>
                <string>{71,178}</string>
            </dict>
            <key>chat_btn_emoticons_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,718},{71,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,178}}</string>
                <key>sourceSize</key>
                <string>{71,178}</string>
            </dict>
            <key>chat_btn_emoticons_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,898},{71,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,178}}</string>
                <key>sourceSize</key>
                <string>{71,178}</string>
            </dict>
            <key>chat_btn_jilu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,718},{71,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,178}}</string>
                <key>sourceSize</key>
                <string>{71,178}</string>
            </dict>
            <key>chat_btn_jilu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{71,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,178}}</string>
                <key>sourceSize</key>
                <string>{71,178}</string>
            </dict>
            <key>chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,718},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>chat_btn_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,718},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>chat_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{404,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,2}}</string>
                <key>sourceSize</key>
                <string>{404,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6d73cebd1081fc8c3d87f2d9e54ed92:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
