<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>mall_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1108},{185,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,230}}</string>
                <key>sourceSize</key>
                <string>{185,230}</string>
            </dict>
            <key>mall_btn_iap.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1767},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mall_btn_menu_diamond_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,617},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_diamond_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,494},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_gold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,371},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_gold_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,248},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_room_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,125},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_rooom_card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_un.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1370},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mall_btn_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1575},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mall_btn_zfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1485},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mall_dialog_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1253},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>mall_dialog_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1485},{469,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,70}}</string>
                <key>sourceSize</key>
                <string>{469,70}</string>
            </dict>
            <key>mall_dialog_title_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,6},{1,1}}</string>
                <key>offset</key>
                <string>{-77,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>mall_dialog_title_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1485},{179,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,75}}</string>
                <key>sourceSize</key>
                <string>{179,75}</string>
            </dict>
            <key>mall_info_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1857},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>mall_info_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1857},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>mall_info_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1911},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>mall_item_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{101,100}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,36},{101,100}}</string>
                <key>sourceSize</key>
                <string>{191,160}</string>
            </dict>
            <key>mall_item_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1359},{125,123}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,1},{125,123}}</string>
                <key>sourceSize</key>
                <string>{231,125}</string>
            </dict>
            <key>mall_item_gold_btn_buy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1767},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>mall_item_gold_title_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{59,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,19}}</string>
                <key>sourceSize</key>
                <string>{59,19}</string>
            </dict>
            <key>mall_item_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,793},{253,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,313}}</string>
                <key>sourceSize</key>
                <string>{253,313}</string>
            </dict>
            <key>mall_item_goods_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1295},{189,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,73}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>mall_item_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1956},{90,116}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{90,116}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>mall_item_room_card_title_date.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1338},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>mall_item_room_card_title_days.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1295},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>mall_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1325},{158,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,77}}</string>
                <key>sourceSize</key>
                <string>{158,77}</string>
            </dict>
            <key>mall_sale_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1666},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>mall_title_pay_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1108},{143,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
            <key>mall_top_info_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,740},{259,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,51}}</string>
                <key>sourceSize</key>
                <string>{259,51}</string>
            </dict>
            <key>mall_txt_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mall.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa71dbd1c2f16f51ebcaaf81484ccd79:1/1$</string>
            <key>textureFileName</key>
            <string>Mall.png</string>
        </dict>
    </dict>
</plist>
