<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>mall_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,77},{185,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,230}}</string>
                <key>sourceSize</key>
                <string>{185,230}</string>
            </dict>
            <key>mall_btn_bg_normall.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,882},{365,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,113}}</string>
                <key>sourceSize</key>
                <string>{365,113}</string>
            </dict>
            <key>mall_btn_bg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{365,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,113}}</string>
                <key>sourceSize</key>
                <string>{365,113}</string>
            </dict>
            <key>mall_btn_iap.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1545},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mall_btn_menu_diamond_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1128},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_diamond_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1005},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_gold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,882},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_gold_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1067},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_room_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_menu_rooom_card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,617},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>mall_btn_un.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1067},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mall_btn_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1170},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mall_btn_zfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1190},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mall_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{875,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{875,499}}</string>
                <key>sourceSize</key>
                <string>{875,499}</string>
            </dict>
            <key>mall_dialog_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,798},{488,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,76}}</string>
                <key>sourceSize</key>
                <string>{488,76}</string>
            </dict>
            <key>mall_dialog_title_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,2},{1,1}}</string>
                <key>offset</key>
                <string>{-77,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>mall_dialog_title_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,388},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>mall_info_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,309},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>mall_info_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,363},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>mall_info_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,450},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>mall_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,754},{980,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,311}}</string>
                <key>sourceSize</key>
                <string>{980,311}</string>
            </dict>
            <key>mall_item_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1067},{101,100}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,36},{101,100}}</string>
                <key>sourceSize</key>
                <string>{191,160}</string>
            </dict>
            <key>mall_item_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,492},{125,123}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,1},{125,123}}</string>
                <key>sourceSize</key>
                <string>{231,125}</string>
            </dict>
            <key>mall_item_gold_btn_buy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,409},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>mall_item_gold_send_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,492},{304,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{304,28}}</string>
                <key>sourceSize</key>
                <string>{308,28}</string>
            </dict>
            <key>mall_item_gold_title_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,97},{59,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,19}}</string>
                <key>sourceSize</key>
                <string>{59,19}</string>
            </dict>
            <key>mall_item_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,879},{253,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,313}}</string>
                <key>sourceSize</key>
                <string>{253,313}</string>
            </dict>
            <key>mall_item_goods_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,2},{189,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,73}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>mall_item_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1288},{242,255}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{242,255}}</string>
                <key>sourceSize</key>
                <string>{316,293}</string>
            </dict>
            <key>mall_item_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1190},{90,116}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{90,116}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>mall_item_room_card_title_date.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,158},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>mall_item_room_card_title_days.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,77},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>mall_left_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{354,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,750}}</string>
                <key>sourceSize</key>
                <string>{354,750}</string>
            </dict>
            <key>mall_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,309},{158,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,77}}</string>
                <key>sourceSize</key>
                <string>{158,77}</string>
            </dict>
            <key>mall_sale_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1190},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>mall_title_pay_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,455},{143,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
            <key>mall_top_info_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,754},{259,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,51}}</string>
                <key>sourceSize</key>
                <string>{259,51}</string>
            </dict>
            <key>mall_txt_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mall.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfd7ecdd2ca4f502d614c4d1c59094e9:1/1$</string>
            <key>textureFileName</key>
            <string>Mall.png</string>
        </dict>
    </dict>
</plist>
