<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_mail_btn_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>Lobby_mail_hasAgree.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{82,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,47}}</string>
                <key>sourceSize</key>
                <string>{82,47}</string>
            </dict>
            <key>Lobby_mail_hasRefuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,51},{82,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,47}}</string>
                <key>sourceSize</key>
                <string>{82,47}</string>
            </dict>
            <key>Lobby_mail_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{925,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{925,93}}</string>
                <key>sourceSize</key>
                <string>{925,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mail.png</string>
            <key>size</key>
            <string>{1013,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:043e516ae42a016ef20b1a5434820751:820e3487552c4e72908a38832a83048e:ed283bf91382fa74ea6d76c16a797a6e$</string>
            <key>textureFileName</key>
            <string>mail.png</string>
        </dict>
    </dict>
</plist>
