<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gift_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{909,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{909,278}}</string>
                <key>sourceSize</key>
                <string>{909,302}</string>
            </dict>
            <key>gift_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,282},{146,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
            <key>gift_light_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{744,748}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,748}}</string>
                <key>sourceSize</key>
                <string>{744,748}</string>
            </dict>
            <key>gift_light_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{768,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,768}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>gift_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{541,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,202}}</string>
                <key>sourceSize</key>
                <string>{541,202}</string>
            </dict>
            <key>gift_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1052},{711,713}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,713}}</string>
                <key>sourceSize</key>
                <string>{711,713}</string>
            </dict>
            <key>meinv.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,206},{470,689}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,689}}</string>
                <key>sourceSize</key>
                <string>{470,689}</string>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1767},{706,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,225}}</string>
                <key>sourceSize</key>
                <string>{706,225}</string>
            </dict>
            <key>title_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,206},{206,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,56}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
            <key>title_txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,430},{344,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,93}}</string>
                <key>sourceSize</key>
                <string>{344,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>giftAccountView.png</string>
            <key>size</key>
            <string>{1461,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f592d43a69dbfe0b270fb7e733e743d9$</string>
            <key>textureFileName</key>
            <string>giftAccountView.png</string>
        </dict>
    </dict>
</plist>
