<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_quxiaoshenqing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{184,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{184,74}}</string>
                <key>sourceSize</key>
                <string>{190,90}</string>
            </dict>
            <key>btn_quxiaoshenqing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{184,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{184,80}}</string>
                <key>sourceSize</key>
                <string>{190,90}</string>
            </dict>
            <key>btn_shenqingshangzhuang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{184,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{184,74}}</string>
                <key>sourceSize</key>
                <string>{190,90}</string>
            </dict>
            <key>btn_shenqingshangzhuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,80}}</string>
                <key>sourceSize</key>
                <string>{190,90}</string>
            </dict>
            <key>btn_shenqingxiazhuang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{184,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{184,74}}</string>
                <key>sourceSize</key>
                <string>{190,90}</string>
            </dict>
            <key>btn_shenqingxiazhuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{184,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{184,80}}</string>
                <key>sourceSize</key>
                <string>{190,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuangjia_btn.png</string>
            <key>size</key>
            <string>{476,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c3e057fc6a967890548127935457e8f:a0dc6265185c6a26913dc386ddca1f0f:b2ceeed3805637d3b3d94c750f0c28b4$</string>
            <key>textureFileName</key>
            <string>zhuangjia_btn.png</string>
        </dict>
    </dict>
</plist>
