<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>vfx_tes_glow_yuan2.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xinshoujianli_001.png</key>
			<dict>
				<key>width</key>
				<integer>587</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>587</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vfx_tes_pingmu.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>825</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lz_top/qiandao_lz_00000.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1066</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00001.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1291</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00002.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1522</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>lz_top/qiandao_lz_00003.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1753</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>lz_top/qiandao_lz_00004.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>lz_top/qiandao_lz_00005.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>lz_top/qiandao_lz_00006.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>462</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>lz_top/qiandao_lz_00007.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>693</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>lz_top/qiandao_lz_00008.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>lz_top/qiandao_lz_00009.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1155</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>lz_top/qiandao_lz_00010.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1386</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00011.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1616</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00012.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00013.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>lz_top/qiandao_lz_00014.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00015.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>lz_top/qiandao_lz_00016.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>lz_top/qiandao_lz_00017.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1145</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00018.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1373</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>lz_top/qiandao_lz_00019.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1602</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>lz_top/qiandao_lz_00020.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>lz_top/qiandao_lz_00021.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>lz_top/qiandao_lz_00022.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00023.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>684</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00024.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>912</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00025.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1141</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00026.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1371</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00027.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1602</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>lz_top/qiandao_lz_00028.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>lz_top/qiandao_lz_00029.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>vfx_tes_glow_yuan.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiandao_di.png</key>
			<dict>
				<key>width</key>
				<integer>1000</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>369</integer>
				<key>x</key>
				<integer>692</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-50</real>
			</dict>
			<key>vfx_sp_diguang.png</key>
			<dict>
				<key>width</key>
				<integer>527</integer>
				<key>height</key>
				<integer>526</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>765</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xinshoujiangli_Animation0.png</string>
			<key>realTextureFileName</key>
			<string>xinshoujiangli_Animation0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>