<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldNiu_luoye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,706},{78,72}}</string>
                <key>offset</key>
                <string>{-217,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{78,72}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye10.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{498,184}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{498,184}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,182}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{508,182}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{494,180}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{494,180}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye13.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,188},{484,166}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,48},{484,166}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{470,146}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,67},{470,146}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{450,144}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,69},{450,144}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{442,142}}</string>
                <key>offset</key>
                <string>{35,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{442,142}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye17.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,888},{412,142}}</string>
                <key>offset</key>
                <string>{37,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{412,142}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{412,144}}</string>
                <key>offset</key>
                <string>{43,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,71},{412,144}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{408,146}}</string>
                <key>offset</key>
                <string>{52,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,68},{408,146}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1484},{238,160}}</string>
                <key>offset</key>
                <string>{-137,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{238,160}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye20.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1032},{406,144}}</string>
                <key>offset</key>
                <string>{53,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,69},{406,144}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{396,140}}</string>
                <key>offset</key>
                <string>{58,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{396,140}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye22.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,780},{390,136}}</string>
                <key>offset</key>
                <string>{61,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,71},{390,136}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye23.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1178},{376,142}}</string>
                <key>offset</key>
                <string>{68,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,64},{376,142}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{374,148}}</string>
                <key>offset</key>
                <string>{69,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,57},{374,148}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye25.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,542},{162,80}}</string>
                <key>offset</key>
                <string>{151,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,124},{162,80}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1484},{280,168}}</string>
                <key>offset</key>
                <string>{-116,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{280,168}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{334,164}}</string>
                <key>offset</key>
                <string>{-89,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{334,164}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1322},{350,160}}</string>
                <key>offset</key>
                <string>{-81,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{350,160}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye6.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1172},{382,180}}</string>
                <key>offset</key>
                <string>{-60,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{382,180}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye7.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,716},{436,170}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{436,170}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye8.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,542},{444,172}}</string>
                <key>offset</key>
                <string>{-33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{444,172}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>goldNiu_luoye9.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,356},{478,184}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{478,184}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldNiu_luoye.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84eaa38e66263b85b7cac05b0526e1a2$</string>
            <key>textureFileName</key>
            <string>goldNiu_luoye.png</string>
        </dict>
    </dict>
</plist>
