<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,317},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,82}}</string>
                <key>sourceSize</key>
                <string>{214,82}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,233},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,82}}</string>
                <key>sourceSize</key>
                <string>{214,82}</string>
            </dict>
            <key>goldBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>sub_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{624,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,68}}</string>
                <key>sourceSize</key>
                <string>{624,68}</string>
            </dict>
            <key>subsidy_close_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,401},{182,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,75}}</string>
                <key>sourceSize</key>
                <string>{182,75}</string>
            </dict>
            <key>subsidy_close_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,233},{182,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,75}}</string>
                <key>sourceSize</key>
                <string>{182,75}</string>
            </dict>
            <key>subsidybg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{721,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,457}}</string>
                <key>sourceSize</key>
                <string>{721,457}</string>
            </dict>
            <key>title_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,75},{141,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>subsidy.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9a20247fd63e0a0f7377d09d8c1f4a6:1/1$</string>
            <key>textureFileName</key>
            <string>subsidy.png</string>
        </dict>
    </dict>
</plist>
