<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{103,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,75}}</string>
                <key>sourceSize</key>
                <string>{103,79}</string>
            </dict>
            <key>cock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>cock_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{117,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{117,112}}</string>
                <key>sourceSize</key>
                <string>{125,114}</string>
            </dict>
            <key>cock_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,104},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>cock_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{120,121}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{150,121}</string>
            </dict>
            <key>cock_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,104},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>cock_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{115,121}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,121}}</string>
                <key>sourceSize</key>
                <string>{117,129}</string>
            </dict>
            <key>cock_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{114,120}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{114,120}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>cock_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,121}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{141,121}}</string>
                <key>sourceSize</key>
                <string>{143,127}</string>
            </dict>
            <key>cock_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{113,121}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{113,121}}</string>
                <key>sourceSize</key>
                <string>{117,175}</string>
            </dict>
            <key>cock_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{120,123}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{120,123}}</string>
                <key>sourceSize</key>
                <string>{144,141}</string>
            </dict>
            <key>cock_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{118,126}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{118,126}}</string>
                <key>sourceSize</key>
                <string>{138,148}</string>
            </dict>
            <key>cock_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,79},{27,30}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{27,30}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>cock_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,79},{23,21}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{23,21}}</string>
                <key>sourceSize</key>
                <string>{53,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cock.png</string>
            <key>size</key>
            <string>{1193,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69dbdf30e893f18c6e9157c03744e7c3:edd034739bf19d533064f00d5ec8e287:9d0598d006e909d1540698676e1444a0$</string>
            <key>textureFileName</key>
            <string>cock.png</string>
        </dict>
    </dict>
</plist>
