<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xihongshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{72,71}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,71}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>xihongshi003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{86,108}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>xihongshi004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{76,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{76,70}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>xihongshi005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{74,60}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{74,60}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xihongshi.png</string>
            <key>size</key>
            <string>{319,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60716de7c5a13a80609c14ba6cd96139:b640bfc417d82eb9701a7861d5670f1c:24fab013d4ff37996be1325fdbb69fef$</string>
            <key>textureFileName</key>
            <string>xihongshi.png</string>
        </dict>
    </dict>
</plist>
