<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{976,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,559}}</string>
                <key>sourceSize</key>
                <string>{976,559}</string>
            </dict>
            <key>PlayInfo_btn_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,563},{95,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,76}}</string>
                <key>sourceSize</key>
                <string>{95,76}</string>
            </dict>
            <key>PlayInfo_btn_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,713},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
            <key>PlayInfo_btn_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,715},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>PlayInfo_btn_face_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,639},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>PlayInfo_btn_face_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,722},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>PlayInfo_btn_face_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,722},{67,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{67,81}</string>
            </dict>
            <key>PlayInfo_btn_face_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,563},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>PlayInfo_btn_face_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,641},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>PlayInfo_btn_face_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,641},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>PlayInfo_btn_face_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,615},{98,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,83}}</string>
                <key>sourceSize</key>
                <string>{98,83}</string>
            </dict>
            <key>PlayInfo_btn_revise_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,563},{224,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,50}}</string>
                <key>sourceSize</key>
                <string>{224,50}</string>
            </dict>
            <key>PlayInfo_btn_sex_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,740},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>PlayInfo_btn_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,760},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>PlayInfo_icon_coisn.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,754},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>PlayInfo_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,754},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>PlayInfo_icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,462},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>PlayInfo_img_faceList_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{564,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,189}}</string>
                <key>sourceSize</key>
                <string>{564,189}</string>
            </dict>
            <key>PlayInfo_img_face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,615},{127,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,123}}</string>
                <key>sourceSize</key>
                <string>{127,123}</string>
            </dict>
            <key>PlayInfo_img_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,503},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>PlayInfo_img_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,740},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>PlayInfo_img_women.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,760},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>PlayInfo_line_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{128,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,4}}</string>
                <key>sourceSize</key>
                <string>{128,4}</string>
            </dict>
            <key>PlayInfo_line_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{4,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,458}}</string>
                <key>sourceSize</key>
                <string>{4,458}</string>
            </dict>
            <key>PlayInfo_line_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,754},{128,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,4}}</string>
                <key>sourceSize</key>
                <string>{128,4}</string>
            </dict>
            <key>PlayInfo_write_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{178,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,44}}</string>
                <key>sourceSize</key>
                <string>{178,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerInfo.png</string>
            <key>size</key>
            <string>{1018,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59d4f8c4df9b99b586e3921e80bfb6f0:a90c5979a427874bc44629f081dd5dbf:3ddc2985a32e6f591117e1fe6f7efb5a$</string>
            <key>textureFileName</key>
            <string>PlayerInfo.png</string>
        </dict>
    </dict>
</plist>
