<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{903,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,568}}</string>
                <key>sourceSize</key>
                <string>{903,568}</string>
            </dict>
            <key>PlayInfo_btn_add_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,602},{203,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,82}}</string>
                <key>sourceSize</key>
                <string>{203,82}</string>
            </dict>
            <key>PlayInfo_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>PlayInfo_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{49,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,24}}</string>
                <key>sourceSize</key>
                <string>{49,24}</string>
            </dict>
            <key>PlayInfo_btn_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,287},{95,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,76}}</string>
                <key>sourceSize</key>
                <string>{95,76}</string>
            </dict>
            <key>PlayInfo_btn_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,454},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
            <key>PlayInfo_btn_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,365},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>PlayInfo_btn_face_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,510},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>PlayInfo_btn_face_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,888},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>PlayInfo_btn_face_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,888},{67,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{67,81}</string>
            </dict>
            <key>PlayInfo_btn_face_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,211},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>PlayInfo_btn_face_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,804},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>PlayInfo_btn_face_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,804},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>PlayInfo_btn_face_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,126},{98,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,83}}</string>
                <key>sourceSize</key>
                <string>{98,83}</string>
            </dict>
            <key>PlayInfo_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,60},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>PlayInfo_btn_remove_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,828},{203,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,82}}</string>
                <key>sourceSize</key>
                <string>{203,82}</string>
            </dict>
            <key>PlayInfo_btn_revise_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{224,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,50}}</string>
                <key>sourceSize</key>
                <string>{224,50}</string>
            </dict>
            <key>PlayInfo_btn_sex_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,912},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>PlayInfo_btn_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,462},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>PlayInfo_icon_coisn.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,912},{40,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{40,40}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>PlayInfo_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>PlayInfo_icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,912},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>PlayInfo_img_faceList_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,966},{202,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,50}}</string>
                <key>sourceSize</key>
                <string>{202,50}</string>
            </dict>
            <key>PlayInfo_img_face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,602},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PlayInfo_img_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,573},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>PlayInfo_img_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,514},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>PlayInfo_img_women.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,544},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>PlayInfo_line_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,126},{161,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,2}}</string>
                <key>sourceSize</key>
                <string>{161,2}</string>
            </dict>
            <key>PlayInfo_line_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{4,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,458}}</string>
                <key>sourceSize</key>
                <string>{4,458}</string>
            </dict>
            <key>PlayInfo_line_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,60},{161,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,2}}</string>
                <key>sourceSize</key>
                <string>{161,2}</string>
            </dict>
            <key>PlayInfo_title_geren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{143,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,34}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
            <key>PlayInfo_title_ziliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,912},{71,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,34}}</string>
                <key>sourceSize</key>
                <string>{71,34}</string>
            </dict>
            <key>PlayInfo_write_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,966},{202,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,50}}</string>
                <key>sourceSize</key>
                <string>{202,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerInfo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43788c40768c9f009b5c600bbc061c3a:1/1$</string>
            <key>textureFileName</key>
            <string>PlayerInfo.png</string>
        </dict>
    </dict>
</plist>
