<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_big_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1095},{1091,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1091,683}}</string>
                <key>sourceSize</key>
                <string>{1091,683}</string>
            </dict>
            <key>common_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2484,1780},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>common_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2400,1780},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,82}}</string>
                <key>sourceSize</key>
                <string>{214,82}</string>
            </dict>
            <key>common_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1859},{182,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,75}}</string>
                <key>sourceSize</key>
                <string>{182,75}</string>
            </dict>
            <key>common_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{2098,1921},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>common_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2098,1855},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>common_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2249,1780},{245,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,65}}</string>
                <key>sourceSize</key>
                <string>{245,65}</string>
            </dict>
            <key>common_btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{2316,1780},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,82}}</string>
                <key>sourceSize</key>
                <string>{214,82}</string>
            </dict>
            <key>common_exit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2000},{143,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,34}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
            <key>common_icon_coisn.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2000},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>common_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2000},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>common_icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2000},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>common_little_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1859},{720,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,156}}</string>
                <key>sourceSize</key>
                <string>{720,156}</string>
            </dict>
            <key>common_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2017},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>common_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2017},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>common_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2017},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>common_loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2017},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>common_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1780},{409,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,73}}</string>
                <key>sourceSize</key>
                <string>{409,73}</string>
            </dict>
            <key>common_loading_colour_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2000},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>common_mid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1095},{903,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,568}}</string>
                <key>sourceSize</key>
                <string>{903,568}</string>
            </dict>
            <key>common_msg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1095},{920,155}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,155}}</string>
                <key>sourceSize</key>
                <string>{920,157}</string>
            </dict>
            <key>common_msgbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1095},{721,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,457}}</string>
                <key>sourceSize</key>
                <string>{721,457}</string>
            </dict>
            <key>common_redPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2017},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>common_score_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2000},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>common_score_yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2017},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>common_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1095},{762,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,78}}</string>
                <key>sourceSize</key>
                <string>{762,78}</string>
            </dict>
            <key>lobby_service_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,2},{1091,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1091,683}}</string>
                <key>sourceSize</key>
                <string>{1091,683}</string>
            </dict>
            <key>lobby_sign_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1091,692}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1091,692}}</string>
                <key>sourceSize</key>
                <string>{1091,692}</string>
            </dict>
            <key>lobby_task_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{1091,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1091,683}}</string>
                <key>sourceSize</key>
                <string>{1091,683}</string>
            </dict>
            <key>shop_pay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1095},{903,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,568}}</string>
                <key>sourceSize</key>
                <string>{903,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonRes.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d25434e68c4a473cba49bf2165da2d89:1/1$</string>
            <key>textureFileName</key>
            <string>commonRes.png</string>
        </dict>
    </dict>
</plist>
