<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inform_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1248,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1248,60}}</string>
                <key>sourceSize</key>
                <string>{1248,60}</string>
            </dict>
            <key>inform_btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{104,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,50}</string>
            </dict>
            <key>inform_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>inform_btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{104,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inform.png</string>
            <key>size</key>
            <string>{1501,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0852353146c18ed14aa26facc3a479c:d080bd88695dd18af02b6c9cea50a139:990edc3902659b406250131a5141c7c7$</string>
            <key>textureFileName</key>
            <string>inform.png</string>
        </dict>
    </dict>
</plist>
