<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_Promote_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>Lobby_Promote_blue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{523,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,336}}</string>
                <key>sourceSize</key>
                <string>{523,336}</string>
            </dict>
            <key>Lobby_Promote_btn_ back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,786},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>Lobby_Promote_btn_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,865},{313,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,74}}</string>
                <key>sourceSize</key>
                <string>{313,74}</string>
            </dict>
            <key>Lobby_Promote_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,500},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>Lobby_Promote_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,908},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Lobby_Promote_btn_getGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,908},{313,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,74}}</string>
                <key>sourceSize</key>
                <string>{313,74}</string>
            </dict>
            <key>Lobby_Promote_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,908},{302,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,87}}</string>
                <key>sourceSize</key>
                <string>{302,87}</string>
            </dict>
            <key>Lobby_Promote_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,879},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>Lobby_Promote_code_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{335,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,166}}</string>
                <key>sourceSize</key>
                <string>{335,166}</string>
            </dict>
            <key>Lobby_Promote_friend_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,847},{193,170}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{193,170}}</string>
                <key>sourceSize</key>
                <string>{219,176}</string>
            </dict>
            <key>Lobby_Promote_getBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,527},{340,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,336}}</string>
                <key>sourceSize</key>
                <string>{340,336}</string>
            </dict>
            <key>Lobby_Promote_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,879},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>Lobby_Promote_giftbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,339},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>Lobby_Promote_icon_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,500},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>Lobby_Promote_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,577},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>Lobby_Promote_icon_roomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,992},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>Lobby_Promote_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{1107,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1107,59}}</string>
                <key>sourceSize</key>
                <string>{1107,59}</string>
            </dict>
            <key>Lobby_Promote_paoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,941},{272,75}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{272,75}}</string>
                <key>sourceSize</key>
                <string>{302,87}</string>
            </dict>
            <key>Lobby_Promote_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,941},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>Lobby_Promote_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{425,103}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{425,103}}</string>
                <key>sourceSize</key>
                <string>{447,111}</string>
            </dict>
            <key>Lobby_Promote_top_ani.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,500},{284,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,83}}</string>
                <key>sourceSize</key>
                <string>{284,83}</string>
            </dict>
            <key>Lobby_Promote_topbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1334,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,91}}</string>
                <key>sourceSize</key>
                <string>{1334,91}</string>
            </dict>
            <key>Lobby_Promote_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,530},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>promote.png</string>
            <key>size</key>
            <string>{1844,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5743cd17e65d13bd1bd3ec997fac4006$</string>
            <key>textureFileName</key>
            <string>promote.png</string>
        </dict>
    </dict>
</plist>
