<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Reward_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,82}}</string>
                <key>sourceSize</key>
                <string>{214,82}</string>
            </dict>
            <key>Reward_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,82}}</string>
                <key>sourceSize</key>
                <string>{214,82}</string>
            </dict>
            <key>Reward_gift_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,230}}</string>
                <key>sourceSize</key>
                <string>{185,230}</string>
            </dict>
            <key>Reward_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,273},{85,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{85,64}</string>
            </dict>
            <key>Reward_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,339},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{59,50}}</string>
                <key>sourceSize</key>
                <string>{85,64}</string>
            </dict>
            <key>Reward_icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,273},{83,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,64}}</string>
                <key>sourceSize</key>
                <string>{85,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7515211a817918548bb4a133d7f1a9b:1/1$</string>
            <key>textureFileName</key>
            <string>reward.png</string>
        </dict>
    </dict>
</plist>
