<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Reward_gift_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
            <key>Reward_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>Reward_icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,80},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward.png</string>
            <key>size</key>
            <string>{244,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feb1890119da4e174ce4017284a3dba5:2c53ef61f1ec8610039ed2696fd04c44:743fe12129f05c7c7e320e50b9be0c25$</string>
            <key>textureFileName</key>
            <string>reward.png</string>
        </dict>
    </dict>
</plist>
