<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TP/Mall/mall_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>TP/Mall/mall_btn_alipay.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,523},{225,81}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,81}</string>
			</dict>
			<key>TP/Mall/mall_btn_bg_normall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1449},{365,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,113}</string>
			</dict>
			<key>TP/Mall/mall_btn_bg_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1449},{365,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,113}</string>
			</dict>
			<key>TP/Mall/mall_btn_iap.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1318},{229,81}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,81}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_diamond_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,983},{295,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_diamond_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1651,1375},{291,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_gold_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,1067},{295,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_gold_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1651,1455},{291,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_room_card_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1234},{295,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_rooom_card_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,1},{291,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_union.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,294},{227,81}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,81}</string>
			</dict>
			<key>TP/Mall/mall_btn_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,1477},{233,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,81}</string>
			</dict>
			<key>TP/Mall/mall_info_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1527},{48,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,43}</string>
			</dict>
			<key>TP/Mall/mall_info_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1527},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>TP/Mall/mall_info_room_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,1527},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>
			<key>TP/Mall/mall_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,1},{980,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{980,311}</string>
			</dict>
			<key>TP/Mall/mall_item_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,147},{100,100}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,160}</string>
			</dict>
			<key>TP/Mall/mall_item_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,750},{154,112}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,126}</string>
			</dict>
			<key>TP/Mall/mall_item_gold_btn_buy_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,1527},{43,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,45}</string>
			</dict>
			<key>TP/Mall/mall_item_gold_send_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1527},{217,26}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,26}</string>
			</dict>
			<key>TP/Mall/mall_item_gold_title_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1555},{59,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,19}</string>
			</dict>
			<key>TP/Mall/mall_item_goods_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,1115},{258,279}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{259,279}</string>
			</dict>
			<key>TP/Mall/mall_item_goods_btn_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,1364},{189,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,73}</string>
			</dict>
			<key>TP/Mall/mall_item_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,1234},{241,254}}</string>
				<key>offset</key>
				<string>{0,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,293}</string>
			</dict>
			<key>TP/Mall/mall_item_room_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,147},{90,115}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,134}</string>
			</dict>
			<key>TP/Mall/mall_item_room_card_title_date.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1555},{57,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,19}</string>
			</dict>
			<key>TP/Mall/mall_item_room_card_title_days.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1555},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,18}</string>
			</dict>
			<key>TP/Mall/mall_left_menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,878},{354,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,750}</string>
			</dict>
			<key>TP/Mall/mall_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,878},{347,162}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,164}</string>
			</dict>
			<key>TP/Mall/mall_logo_flash.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,1527},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>TP/Mall/mall_logo_light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1227},{303,144}}</string>
				<key>offset</key>
				<string>{-18,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,164}</string>
			</dict>
			<key>TP/Mall/mall_logo_light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{303,144}}</string>
				<key>offset</key>
				<string>{-18,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,164}</string>
			</dict>
			<key>TP/Mall/mall_sale_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,357},{114,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,110}</string>
			</dict>
			<key>TP/Mall/mall_title_pay_type.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1},{354,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,67}</string>
			</dict>
			<key>TP/Mall/mall_top_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{980,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{980,110}</string>
			</dict>
			<key>TP/Mall/mall_top_info_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,878},{235,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,54}</string>
			</dict>
			<key>TP/Mall/mall_txt_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1564},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>TP/Mall/Store/mall_dialog_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,1},{875,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{875,499}</string>
			</dict>
			<key>TP/Mall/Store/mall_dialog_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1449},{488,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,76}</string>
			</dict>
			<key>TP/Mall/Store/mall_dialog_title_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1568},{1,1}}</string>
				<key>offset</key>
				<string>{77,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,65}</string>
			</dict>
			<key>TP/Mall/Store/mall_dialog_title_btn_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,1234},{155,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Mall.png</string>
			<key>realTextureFileName</key>
			<string>Mall.png</string>
			<key>size</key>
			<string>{2038,1577}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2038</integer>
			<key>height</key>
			<integer>1577</integer>
		</dict>
	</dict>
</plist>