<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TP/NiuNiu/niuniu_btn_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,69},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,228},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,387},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,69},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_10_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,69},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,69},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,145},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,145},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_20_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,221},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_20_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,221},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_25_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,228},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_25_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,425},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,297},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,297},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,373},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,373},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,373},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,387},{157,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,74}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_has_niu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{176,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,67}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_has_niu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1},{176,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,67}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_has_niu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{176,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,67}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_no_niu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,69},{176,64}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,67}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_no_niu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,247},{176,64}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,67}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_btn_no_niu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,532},{176,64}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,67}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameBtn.png</string>
			<key>realTextureFileName</key>
			<string>GameBtn.png</string>
			<key>size</key>
			<string>{536,597}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>536</integer>
			<key>height</key>
			<integer>597</integer>
		</dict>
	</dict>
</plist>