<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{298,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{298,148}}</string>
                <key>sourceSize</key>
                <string>{298,150}</string>
            </dict>
            <key>gold_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{298,148}}</string>
                <key>sourceSize</key>
                <string>{298,150}</string>
            </dict>
            <key>gold_effectS1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,432},{174,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,213}}</string>
                <key>sourceSize</key>
                <string>{174,213}</string>
            </dict>
            <key>gold_effectS2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,217},{174,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,213}}</string>
                <key>sourceSize</key>
                <string>{174,213}</string>
            </dict>
            <key>gold_effect_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{298,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,147}}</string>
                <key>sourceSize</key>
                <string>{298,147}</string>
            </dict>
            <key>gold_effect_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{175,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,213}}</string>
                <key>sourceSize</key>
                <string>{175,213}</string>
            </dict>
            <key>gold_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerPanel.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c93de7fbc96394d0660d04b14a0f239:1/1$</string>
            <key>textureFileName</key>
            <string>playerPanel.png</string>
        </dict>
    </dict>
</plist>
