<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qinwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,784},{76,59}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,95},{76,59}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,784},{76,59}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,95},{76,59}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,394},{102,89}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,65},{102,89}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,168},{106,99}}</string>
                <key>offset</key>
                <string>{-10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,55},{106,99}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,276},{116,107}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,47},{116,107}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,485},{130,115}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{130,115}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{130,123}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{130,123}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{134,131}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{134,131}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{132,135}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{132,135}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{132,143}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{132,143}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{134,151}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{134,151}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,153}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{126,153}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{84,61}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{84,61}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,792},{96,59}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,95},{96,59}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,792},{96,59}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,95},{96,59}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,784},{76,59}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,95},{76,59}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,792},{96,59}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,95},{96,59}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,686},{96,59}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,95},{96,59}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,686},{96,59}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,95},{96,59}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,617},{96,67}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,87},{96,67}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,87},{96,79}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,75},{96,79}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
            <key>qinwen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{96,83}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,71},{96,83}}</string>
                <key>sourceSize</key>
                <string>{142,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qinwen.png</string>
            <key>size</key>
            <string>{256,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d191a6a9338e9e9658c74248683bbcc2:ceb9b872e984afb32a0bcfeb782afeb8:a22a1ea763d291f4d1bd1c08b94e5a35$</string>
            <key>textureFileName</key>
            <string>qinwen.png</string>
        </dict>
    </dict>
</plist>
