<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,135},{113,123}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{113,123}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,135},{113,123}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{113,123}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,137},{105,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{125,133}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{125,133}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{129,135}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{129,135}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{131,137}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{131,137}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,139}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{133,139}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,81},{51,55}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,30},{51,55}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{75,77}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{75,77}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,137},{109,109}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>zhadan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,133},{125,119}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhadan.png</string>
            <key>size</key>
            <string>{641,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ead9c461e3bab3d11b4a44c38194c82:5934ebe5aa17246a3d78b9d66228e3df:08749fba190e762c7a6f5be66bf7336a$</string>
            <key>textureFileName</key>
            <string>zhadan.png</string>
        </dict>
    </dict>
</plist>
