<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Card type_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,790},{250,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,129}}</string>
				<key>sourceSize</key>
				<string>{250,129}</string>
			</dict>

			<key>Card type_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,309},{411,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,110}}</string>
				<key>sourceSize</key>
				<string>{411,110}</string>
			</dict>

			<key>Card type_title_bg_0.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{293,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,369}}</string>
				<key>sourceSize</key>
				<string>{293,369}</string>
			</dict>

			<key>Card type_title_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,94},{655,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{655,214}}</string>
				<key>sourceSize</key>
				<string>{655,214}</string>
			</dict>

			<key>score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{801,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{801,93}}</string>
				<key>sourceSize</key>
				<string>{801,93}</string>
			</dict>

			<key>score_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{51,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,11},{51,48}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>niu_luckCard.png</string>
			</dict>
		</dict>
</plist>