<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niubtn_buqiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,68},{157,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,74}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
            <key>niubtn_buqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,144},{157,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,74}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
            <key>niubtn_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,227},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>niubtn_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,227},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>niubtn_hasniu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>niubtn_hasniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>niubtn_hasniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>niubtn_noniu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>niubtn_noniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,38},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>niubtn_noniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>niubtn_txt_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>niubtn_txt_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,34}}</string>
                <key>sourceSize</key>
                <string>{250,34}</string>
            </dict>
            <key>niuniu_btn_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,68},{157,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,74}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
            <key>niuniu_btn_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,220},{157,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,74}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NiuNiuGameBtn.png</string>
            <key>size</key>
            <string>{483,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d6fc9d59e3971db1a7cf39f66bec5c8:33e147ba1fbeb1f68ecf914b8552b91a:eb108745fb290d6bf7b3ea7b2ae30302$</string>
            <key>textureFileName</key>
            <string>NiuNiuGameBtn.png</string>
        </dict>
    </dict>
</plist>
