<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{96,114}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{96,114}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>fish_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,118},{66,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{66,86}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>fish_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{56,88}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{56,88}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>fish_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,16}}</string>
                <key>offset</key>
                <string>{9,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,97},{124,16}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>fish_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,206},{20,16}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,54},{20,16}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
            <key>fish_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,206},{20,16}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,54},{20,16}}</string>
                <key>sourceSize</key>
                <string>{146,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish.png</string>
            <key>size</key>
            <string>{128,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92b25c62594833b2c6a72f208947298:34bf736678ac313f95236efb419d8203:14ac73c88c3019464dc0f7ed87dc5bc2$</string>
            <key>textureFileName</key>
            <string>fish.png</string>
        </dict>
    </dict>
</plist>
