<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cock.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,758},{103,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,75}}</string>
                <key>sourceSize</key>
                <string>{103,79}</string>
            </dict>
            <key>cock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,112}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{186,112}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{132,122}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{132,122}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{134,126}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{134,126}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,392},{120,122}}</string>
                <key>offset</key>
                <string>{-41,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{120,122}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,516},{114,120}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{114,120}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,264},{118,126}}</string>
                <key>offset</key>
                <string>{-35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{118,126}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,136},{126,120}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{126,120}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{132,122}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{132,122}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{134,126}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{134,126}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{178,112}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{178,112}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{170,112}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{170,112}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{148,114}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{148,114}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,638},{118,112}}</string>
                <key>offset</key>
                <string>{-38,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{118,112}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,392},{120,122}}</string>
                <key>offset</key>
                <string>{-41,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{120,122}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,516},{114,120}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{114,120}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,264},{118,126}}</string>
                <key>offset</key>
                <string>{-35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{118,126}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
            <key>cock_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,136},{126,120}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{126,120}}</string>
                <key>sourceSize</key>
                <string>{202,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cock.png</string>
            <key>size</key>
            <string>{252,835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df57a4a632cbd79aeb4c506ff4f62d77:7a4fea2c4857815aa3c4eb8ee830e314:9d0598d006e909d1540698676e1444a0$</string>
            <key>textureFileName</key>
            <string>cock.png</string>
        </dict>
    </dict>
</plist>
