<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,144},{95,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,25},{95,116}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,144},{95,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,25},{95,116}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,144},{95,136}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{95,136}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,144},{95,136}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{95,136}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,146},{97,142}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{97,142}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,144},{97,142}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{97,142}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{113,142}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{113,142}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,158}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{123,158}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,158}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{123,158}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,138},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,138},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{111,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,138},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,2},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,138},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,138},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{111,134}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{111,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,144},{95,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,25},{95,116}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{113,134}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{113,134}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{113,140}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{113,140}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{113,140}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{113,140}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
            <key>dianzan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{113,140}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{137,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianzan.png</string>
            <key>size</key>
            <string>{1622,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:019172b8be958cc0c1fd63e19c0ee7a2:ebf82053649e5414fa83f7b56dd3b904:14a39d38a92db9f1d023c26f38140287$</string>
            <key>textureFileName</key>
            <string>dianzan.png</string>
        </dict>
    </dict>
</plist>
