<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_Notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1091,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1091,683}}</string>
                <key>sourceSize</key>
                <string>{1091,683}</string>
            </dict>
            <key>Lobby_notice_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,248},{217,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,76}}</string>
                <key>sourceSize</key>
                <string>{217,76}</string>
            </dict>
            <key>Lobby_notice_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{1,1}}</string>
                <key>offset</key>
                <string>{-342,242}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{685,485}</string>
            </dict>
            <key>Lobby_notice_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>Lobby_notice_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,125},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>Lobby_notice_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{263,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{263,121}</string>
            </dict>
            <key>Lobby_noticehuod.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,180},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>Lobby_noticehuod2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,180},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>Lobby_noticexit.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,60},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>Lobby_noticexit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,60},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>notice.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e42e4f37e78c073f2721863b2a93588f:1/1$</string>
            <key>textureFileName</key>
            <string>notice.png</string>
        </dict>
    </dict>
</plist>
