<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_cardType.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,623},{614,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,344}}</string>
                <key>sourceSize</key>
                <string>{614,344}</string>
            </dict>
            <key>Lobby_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{1049,619}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1049,619}}</string>
                <key>sourceSize</key>
                <string>{1049,619}</string>
            </dict>
            <key>Lobby_help_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,826},{168,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,74}}</string>
                <key>sourceSize</key>
                <string>{168,74}</string>
            </dict>
            <key>Lobby_help_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{182,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,74}}</string>
                <key>sourceSize</key>
                <string>{182,74}</string>
            </dict>
            <key>Lobby_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{822,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{822,480}}</string>
                <key>sourceSize</key>
                <string>{824,482}</string>
            </dict>
            <key>Lobby_title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,623},{354,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,67}}</string>
                <key>sourceSize</key>
                <string>{354,67}</string>
            </dict>
            <key>common_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Help.png</string>
            <key>size</key>
            <string>{1535,969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39fbe7b8b05beefcdb10949a2b77a1b9:f74a5f4606ea9f7eab34dbff222b382f:2b18941aa285a8148ed2abeee51855d4$</string>
            <key>textureFileName</key>
            <string>Help.png</string>
        </dict>
    </dict>
</plist>
