<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TP/lobbyEnter/btnBRNN/btnBRNN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNBody.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,942},{115,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,65}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,804},{150,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,143}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNHei.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,644},{160,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,170}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNHong.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,620},{162,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,171}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNPork.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,608},{164,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,121}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNText.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,250},{234,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,64}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/btnHHDZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/imgHHDZBlack.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,782},{160,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,170}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/imgHHDZLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/imgHHDZRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,608},{162,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,171}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/imgHHDZText.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,250},{237,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,63}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/btnKPQZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,900},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZBody.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,736},{123,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,63}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,313},{185,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,179}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZText.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,370},{232,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,64}</string>
			</dict>
			<key>TP/lobbyEnter/btnKSKS/btnKSKS.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,250},{358,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,139}</string>
			</dict>
			<key>TP/lobbyEnter/btnKSKS/imgKSKSHuoJian.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,772},{128,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,156}</string>
			</dict>
			<key>TP/lobbyEnter/btnKSKS/imgKSKSText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,186},{184,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,85}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/btnPSZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZHongChouMa.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,859},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZHuangChouMa.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,620},{116,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,69}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,370},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZLvChouMa.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,900},{105,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,67}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZPork.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,492},{205,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,152}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZText.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,602},{180,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,63}</string>
			</dict>
			<key>TP/lobbyEnter/btnSRF/btnSRF.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,250},{358,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,139}</string>
			</dict>
			<key>TP/lobbyEnter/btnSRF/imgSRFMM.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,770},{164,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,163}</string>
			</dict>
			<key>TP/lobbyEnter/btnSRF/imgSRFText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,0},{186,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,85}</string>
			</dict>
			<key>TP/lobbyEnter/star/imgBigStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,314},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>TP/lobbyEnter/star/imgSmallStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1000},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>TP/lobbyEnter/imgPaoGuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,782},{85,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,123}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LobbyGameEnter.png</string>
			<key>realTextureFileName</key>
			<string>LobbyGameEnter.png</string>
			<key>size</key>
			<string>{1085,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1085</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>