<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,40},{886,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{886,47}}</string>
                <key>sourceSize</key>
                <string>{886,47}</string>
            </dict>
            <key>bg_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{460,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,47}}</string>
                <key>sourceSize</key>
                <string>{460,47}</string>
            </dict>
            <key>broadcast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{40,37}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>broadcast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>broadcast3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>broadcast4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,40},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>broadcast.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403b8c62232e189b3fe3ac418e9cbdde:005fc9319c7f7a4aaa5438fe230400b4:c9d8f7719db2e452ad7b63ec73cd193c$</string>
            <key>textureFileName</key>
            <string>broadcast.png</string>
        </dict>
    </dict>
</plist>
