<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,151},{429,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,190}}</string>
                <key>sourceSize</key>
                <string>{429,190}</string>
            </dict>
            <key>guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,151},{497,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,181}}</string>
                <key>sourceSize</key>
                <string>{497,181}</string>
            </dict>
            <key>guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,470}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{446,470}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1018,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1018,147}}</string>
                <key>sourceSize</key>
                <string>{1018,147}</string>
            </dict>
            <key>start_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,343},{175,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,117}}</string>
                <key>sourceSize</key>
                <string>{175,117}</string>
            </dict>
            <key>start_xiazhu .png</key>
            <dict>
                <key>frame</key>
                <string>{{450,343},{175,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,119}}</string>
                <key>sourceSize</key>
                <string>{175,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start_xiazhu.png</string>
            <key>size</key>
            <string>{1470,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af4d78375da52504ca33f2efafa285bc:b2c62fb400ddf806bf909afca2683d16:1e6586645ced6d2ca9432c2cd81c2ee4$</string>
            <key>textureFileName</key>
            <string>start_xiazhu.png</string>
        </dict>
    </dict>
</plist>
