<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TP/Mall/Store/store_btn_bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{219,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,66}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,143},{219,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,66}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_card_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,211},{175,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_card_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1},{175,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_card_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,53},{175,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_diamond_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,224},{177,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_diamond_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,1},{174,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_diamond_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,53},{174,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_gold_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,224},{177,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,139},{174,50}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,37},{174,50}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,52}</string>
			</dict>
			<key>TP/Mall/Store/store_btn_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,105},{239,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,32}</string>
			</dict>
			<key>TP/Mall/Store/store_free_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,191},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>TP/Mall/Store/store_icon_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,1},{135,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,97}</string>
			</dict>
			<key>TP/Mall/Store/store_icon_diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,105},{149,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,153}</string>
			</dict>
			<key>TP/Mall/Store/store_icon_diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{153,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,153}</string>
			</dict>
			<key>TP/Mall/Store/store_icon_diamond3.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1},{160,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,153}</string>
			</dict>
			<key>TP/Mall/Store/store_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>TP/Mall/Store/store_title_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,139},{67,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>
			<key>TP/Mall/Store/store_title_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,208},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>TP/Mall/Store/store_title_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{229,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,32}</string>
			</dict>
			<key>TP/Mall/Store/store_title_rmb.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,245},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Store.png</string>
			<key>realTextureFileName</key>
			<string>Store.png</string>
			<key>size</key>
			<string>{886,278}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>886</integer>
			<key>height</key>
			<integer>278</integer>
		</dict>
	</dict>
</plist>