<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LCDAwatarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1194},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>LCDAwatarstencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,1783},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>LCDBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,634},{903,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,568}}</string>
                <key>sourceSize</key>
                <string>{903,568}</string>
            </dict>
            <key>LCDDescFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1539},{835,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,106}}</string>
                <key>sourceSize</key>
                <string>{835,106}</string>
            </dict>
            <key>LCDItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1791},{837,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,70}}</string>
                <key>sourceSize</key>
                <string>{837,70}</string>
            </dict>
            <key>LCDTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1742},{143,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
            <key>LobbyPlayDS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,455},{286,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,376}}</string>
                <key>sourceSize</key>
                <string>{286,376}</string>
            </dict>
            <key>LobbyPlayDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{277,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,334}}</string>
                <key>sourceSize</key>
                <string>{277,334}</string>
            </dict>
            <key>LobbyPlayJY.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{286,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,376}}</string>
                <key>sourceSize</key>
                <string>{286,376}</string>
            </dict>
            <key>LobbyPlayKSKS.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1742},{288,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,95}}</string>
                <key>sourceSize</key>
                <string>{288,95}</string>
            </dict>
            <key>LobbyPlayNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1539},{250,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,36}}</string>
                <key>sourceSize</key>
                <string>{250,36}</string>
            </dict>
            <key>LobbyPlayOnline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,988},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>LobbyPlayPaoGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,1679},{83,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,102}}</string>
                <key>sourceSize</key>
                <string>{85,102}</string>
            </dict>
            <key>LobbyPlaySRF.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1647},{286,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,376}}</string>
                <key>sourceSize</key>
                <string>{286,376}</string>
            </dict>
            <key>LobbyPlayXS.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1539},{286,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,376}}</string>
                <key>sourceSize</key>
                <string>{286,376}</string>
            </dict>
            <key>btnAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1032},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>btnBarenmingbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,897},{208,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,75}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>btnCreateRoomCmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1917},{261,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,89}}</string>
                <key>sourceSize</key>
                <string>{261,89}</string>
            </dict>
            <key>btnGongpaiqiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,820},{208,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,75}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>btnGuanZhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1084},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>btnInputDelete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,845},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>btnInvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,974},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>btnJoinRoomCR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1679},{261,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,89}}</string>
                <key>sourceSize</key>
                <string>{261,89}</string>
            </dict>
            <key>btnKSKS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,743},{216,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,100}}</string>
                <key>sourceSize</key>
                <string>{216,100}</string>
            </dict>
            <key>btnLookDedtail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,923},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>btnMingpaiqiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,620},{208,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,75}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>btnMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1980},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>btnNiuniuShangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,743},{208,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,75}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>btnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,415},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>btnNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,845},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>btnRadioBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,988},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btnRadioBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,988},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btnRadioSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,634},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,256},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>btnSRF.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{216,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,100}}</string>
                <key>sourceSize</key>
                <string>{216,100}</string>
            </dict>
            <key>btnSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,415},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>btnSmall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-107.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{216,100}</string>
            </dict>
            <key>btnTopSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,634},{352,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,76}}</string>
                <key>sourceSize</key>
                <string>{352,76}</string>
            </dict>
            <key>btnZiyouqiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{208,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,75}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>btnbig_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-225,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{451,161}</string>
            </dict>
            <key>imgAddMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1735},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>imgBRNNText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1867},{451,153}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{451,153}}</string>
                <key>sourceSize</key>
                <string>{451,161}</string>
            </dict>
            <key>imgBarenmingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1735},{143,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,34}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
            <key>imgCreateRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,415},{137,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,36}}</string>
                <key>sourceSize</key>
                <string>{137,36}</string>
            </dict>
            <key>imgCreateRoomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1308,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1308,630}}</string>
                <key>sourceSize</key>
                <string>{1308,630}</string>
            </dict>
            <key>imgCreateRoomLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1863},{918,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,2}}</string>
                <key>sourceSize</key>
                <string>{918,2}</string>
            </dict>
            <key>imgCreateRoomPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1020},{449,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,629}}</string>
                <key>sourceSize</key>
                <string>{449,629}</string>
            </dict>
            <key>imgGameDownload.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,212},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>imgGameLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1917},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>imgGameOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,281},{412,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{412,132}}</string>
                <key>sourceSize</key>
                <string>{412,140}</string>
            </dict>
            <key>imgGameUpdateText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,961},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>imgGongpainiuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1735},{143,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,34}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
            <key>imgInputNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,634},{258,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{258,35}}</string>
                <key>sourceSize</key>
                <string>{260,37}</string>
            </dict>
            <key>imgInputOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,974},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>imgInputPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{903,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,592}}</string>
                <key>sourceSize</key>
                <string>{903,592}</string>
            </dict>
            <key>imgInputPanelText.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2008},{142,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,35}}</string>
                <key>sourceSize</key>
                <string>{142,35}</string>
            </dict>
            <key>imgKPQZText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1867},{451,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,161}}</string>
                <key>sourceSize</key>
                <string>{451,161}</string>
            </dict>
            <key>imgMingpaiqiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,415},{141,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
            <key>imgMyRoomItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{1016,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1016,55}}</string>
                <key>sourceSize</key>
                <string>{1016,55}</string>
            </dict>
            <key>imgMyRoomTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1651},{748,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{748,22}}</string>
                <key>sourceSize</key>
                <string>{748,26}</string>
            </dict>
            <key>imgNiuniushangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1887},{143,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,34}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
            <key>imgPSZText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,2},{451,139}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{451,139}}</string>
                <key>sourceSize</key>
                <string>{451,161}</string>
            </dict>
            <key>imgZiyouqiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,220},{141,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
            <key>rule_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1679},{515,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,54}}</string>
                <key>sourceSize</key>
                <string>{515,54}</string>
            </dict>
            <key>rule_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1675},{781,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{781,2}}</string>
                <key>sourceSize</key>
                <string>{781,2}</string>
            </dict>
            <key>shangla_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,1735},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>xiala_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,894},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>xiala_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1647},{515,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{515,93}}</string>
                <key>sourceSize</key>
                <string>{515,95}</string>
            </dict>
            <key>xiala_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-257,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{515,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbyGameEnter.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:118e33b094d9a4bdb973f0bb46c1bcba:1/1$</string>
            <key>textureFileName</key>
            <string>LobbyGameEnter.png</string>
        </dict>
    </dict>
</plist>
