<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_Promote_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>Lobby_Promote_blue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{527,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,337}}</string>
                <key>sourceSize</key>
                <string>{527,337}</string>
            </dict>
            <key>Lobby_Promote_btn_ back.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1687},{182,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,75}}</string>
                <key>sourceSize</key>
                <string>{182,75}</string>
            </dict>
            <key>Lobby_Promote_btn_ back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1905},{182,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,75}}</string>
                <key>sourceSize</key>
                <string>{182,75}</string>
            </dict>
            <key>Lobby_Promote_btn_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1905},{317,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,77}}</string>
                <key>sourceSize</key>
                <string>{317,77}</string>
            </dict>
            <key>Lobby_Promote_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1273},{96,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>Lobby_Promote_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1273},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>Lobby_Promote_btn_getGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{317,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,77}}</string>
                <key>sourceSize</key>
                <string>{317,77}</string>
            </dict>
            <key>Lobby_Promote_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1841},{271,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,81}}</string>
                <key>sourceSize</key>
                <string>{271,81}</string>
            </dict>
            <key>Lobby_Promote_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1687},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>Lobby_Promote_code_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1677},{334,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{334,162}}</string>
                <key>sourceSize</key>
                <string>{338,162}</string>
            </dict>
            <key>Lobby_Promote_friend_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1677},{306,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,123}}</string>
                <key>sourceSize</key>
                <string>{306,123}</string>
            </dict>
            <key>Lobby_Promote_getBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1338},{347,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,336}}</string>
                <key>sourceSize</key>
                <string>{347,336}</string>
            </dict>
            <key>Lobby_Promote_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1764},{144,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,101}}</string>
                <key>sourceSize</key>
                <string>{144,101}</string>
            </dict>
            <key>Lobby_Promote_giftbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1116},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>Lobby_Promote_icon_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1273},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>Lobby_Promote_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1885},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>Lobby_Promote_icon_roomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1841},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>Lobby_Promote_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{1112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1112,59}}</string>
                <key>sourceSize</key>
                <string>{1112,59}</string>
            </dict>
            <key>Lobby_Promote_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1316},{587,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,94}}</string>
                <key>sourceSize</key>
                <string>{587,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lobby_promote.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df60658bfb0953a1b9b932b838da338c:1/1$</string>
            <key>textureFileName</key>
            <string>Lobby_promote.png</string>
        </dict>
    </dict>
</plist>
