<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_Notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1049,619}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1049,619}}</string>
                <key>sourceSize</key>
                <string>{1049,619}</string>
            </dict>
            <key>Lobby_notice_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,484},{508,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{508,76}}</string>
                <key>sourceSize</key>
                <string>{510,78}</string>
            </dict>
            <key>Lobby_notice_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,2},{822,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{822,480}}</string>
                <key>sourceSize</key>
                <string>{824,482}</string>
            </dict>
            <key>Lobby_notice_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,562},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>Lobby_notice_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,484},{168,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,74}}</string>
                <key>sourceSize</key>
                <string>{168,74}</string>
            </dict>
            <key>Lobby_notice_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,484},{182,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,74}}</string>
                <key>sourceSize</key>
                <string>{182,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>notice.png</string>
            <key>size</key>
            <string>{1917,623}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a18bacb09eda29e40cee75d5eb6e8d8$</string>
            <key>textureFileName</key>
            <string>notice.png</string>
        </dict>
    </dict>
</plist>
