<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sheng_2.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-72</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>li_2.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>78</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>vfx_tex_dian.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vfx_tex_xtbjqh_dian3.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>467</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vfx_tex_yuan.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>596</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jb/jb_00004.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>jb/jb_00006.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>60.5</real>
			</dict>
			<key>jb/jb_00007.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1090</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>66.5</real>
			</dict>
			<key>jb/jb_00008.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1272</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>66.5</real>
			</dict>
			<key>jb/jb_00009.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1471</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>68</real>
			</dict>
			<key>jb/jb_00010.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1689</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>72</real>
			</dict>
			<key>jb/jb_00011.png</key>
			<dict>
				<key>width</key>
				<integer>252</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1925</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>78</real>
			</dict>
			<key>jb/jb_00012.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2178</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>80.5</real>
			</dict>
			<key>jb/jb_00013.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2451</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>78.5</real>
			</dict>
			<key>jb/jb_00014.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2744</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>74.5</real>
			</dict>
			<key>jb/jb_00015.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>3058</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>81</real>
			</dict>
			<key>jb/jb_00016.png</key>
			<dict>
				<key>width</key>
				<integer>358</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>3395</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>80</real>
			</dict>
			<key>jb/jb_00017.png</key>
			<dict>
				<key>width</key>
				<integer>379</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>77.5</real>
			</dict>
			<key>jb/jb_00018.png</key>
			<dict>
				<key>width</key>
				<integer>401</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>73</real>
			</dict>
			<key>jb/jb_00019.png</key>
			<dict>
				<key>width</key>
				<integer>415</integer>
				<key>height</key>
				<integer>267</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>782</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>38.5</real>
				<key>offsetY</key>
				<real>83.5</real>
			</dict>
			<key>jb/jb_00020.png</key>
			<dict>
				<key>width</key>
				<integer>403</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1198</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>59.5</real>
				<key>offsetY</key>
				<real>77</real>
			</dict>
			<key>jb/jb_00021.png</key>
			<dict>
				<key>width</key>
				<integer>349</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1602</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>jb/jb_00022.png</key>
			<dict>
				<key>width</key>
				<integer>304</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1952</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>jb/jb_00023.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>294</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2257</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>jb/jb_00024.png</key>
			<dict>
				<key>width</key>
				<integer>343</integer>
				<key>height</key>
				<integer>317</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2582</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>36.5</real>
			</dict>
			<key>jb/jb_00025.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>339</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2926</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>26.5</real>
			</dict>
			<key>jb/jb_00026.png</key>
			<dict>
				<key>width</key>
				<integer>353</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>3291</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>68</real>
			</dict>
			<key>jb/jb_00027.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>3645</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>59.5</real>
			</dict>
			<key>jb/jb_00028.png</key>
			<dict>
				<key>width</key>
				<integer>333</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>44.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>jb/jb_00029.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>144.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>jb/jb_00005.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>vfx_tex_FBguangxian.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>635</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vfx_sp_win_dun.png</key>
			<dict>
				<key>width</key>
				<integer>299</integer>
				<key>height</key>
				<integer>295</integer>
				<key>originalWidth</key>
				<integer>299</integer>
				<key>originalHeight</key>
				<integer>295</integer>
				<key>x</key>
				<integer>892</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vfx_spcibang_di_001.png</key>
			<dict>
				<key>width</key>
				<integer>632</integer>
				<key>height</key>
				<integer>404</integer>
				<key>originalWidth</key>
				<integer>840</integer>
				<key>originalHeight</key>
				<integer>518</integer>
				<key>x</key>
				<integer>1192</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>vfx_sp_cibang_di_003.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>267</integer>
				<key>originalWidth</key>
				<integer>265</integer>
				<key>originalHeight</key>
				<integer>267</integer>
				<key>x</key>
				<integer>1825</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vfx_sp_cibang_di_002.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>246</integer>
				<key>x</key>
				<integer>2091</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lz/lz_00000.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2288</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lz/lz_00001.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>387</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2628</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>lz/lz_00002.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>403</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2979</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>lz/lz_00003.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>416</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>3337</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>lz/lz_00004.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>426</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>3702</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>lz/lz_00005.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>434</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>lz/lz_00006.png</key>
			<dict>
				<key>width</key>
				<integer>378</integer>
				<key>height</key>
				<integer>441</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>lz/lz_00007.png</key>
			<dict>
				<key>width</key>
				<integer>383</integer>
				<key>height</key>
				<integer>444</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>753</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>lz/lz_00008.png</key>
			<dict>
				<key>width</key>
				<integer>387</integer>
				<key>height</key>
				<integer>446</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1137</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>lz/lz_00009.png</key>
			<dict>
				<key>width</key>
				<integer>390</integer>
				<key>height</key>
				<integer>418</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1525</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>lz/lz_00010.png</key>
			<dict>
				<key>width</key>
				<integer>392</integer>
				<key>height</key>
				<integer>401</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1916</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>47.5</real>
			</dict>
			<key>lz/lz_00011.png</key>
			<dict>
				<key>width</key>
				<integer>393</integer>
				<key>height</key>
				<integer>402</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2309</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>48</real>
			</dict>
			<key>lz/lz_00012.png</key>
			<dict>
				<key>width</key>
				<integer>390</integer>
				<key>height</key>
				<integer>402</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2703</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>49</real>
			</dict>
			<key>lz/lz_00013.png</key>
			<dict>
				<key>width</key>
				<integer>392</integer>
				<key>height</key>
				<integer>401</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>3094</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>lz/lz_00014.png</key>
			<dict>
				<key>width</key>
				<integer>393</integer>
				<key>height</key>
				<integer>386</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>3487</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>58</real>
			</dict>
			<key>lz/lz_00015.png</key>
			<dict>
				<key>width</key>
				<integer>383</integer>
				<key>height</key>
				<integer>387</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>lz/lz_00016.png</key>
			<dict>
				<key>width</key>
				<integer>351</integer>
				<key>height</key>
				<integer>387</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>lz/lz_00017.png</key>
			<dict>
				<key>width</key>
				<integer>351</integer>
				<key>height</key>
				<integer>382</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>736</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>lz/lz_00018.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>382</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1088</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>lz/lz_00019.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>382</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1410</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>38</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>win_glow_001.png</key>
			<dict>
				<key>width</key>
				<integer>906</integer>
				<key>height</key>
				<integer>662</integer>
				<key>originalWidth</key>
				<integer>906</integer>
				<key>originalHeight</key>
				<integer>662</integer>
				<key>x</key>
				<integer>1651</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vfx_tex_diguang.png</key>
			<dict>
				<key>width</key>
				<integer>527</integer>
				<key>height</key>
				<integer>526</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>2558</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>niuni_win2_Animation0.png</string>
			<key>realTextureFileName</key>
			<string>niuni_win2_Animation0.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>