<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TP/Lobby/lobby_asset_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1386},{233,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,52}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,493},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1386},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,455},{50,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_shop_ani.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1386},{39,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,60}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_spread.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1386},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_task.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,445},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_diamond_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,500},{48,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,43}</string>
			</dict>
			<key>TP/Lobby/lobby_gold_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,406},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>TP/Lobby/lobby_menu_bg_flash.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,1337},{187,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,88}</string>
			</dict>
			<key>TP/Lobby/lobby_more_btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,357},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_more_btn_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,541},{43,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_notice_icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1386},{51,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>TP/Lobby/lobby_notice_icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,455},{51,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>TP/Lobby/lobby_notice_icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,586},{51,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>TP/Lobby/lobby_red_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,234},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_more_hide.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1386},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_more_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1386},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_bottom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1},{1334,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,88}</string>
			</dict>
			<key>TP/Lobby/lobby_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,508},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1337},{87,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,91}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1337},{154,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,75}</string>
			</dict>
			<key>TP/Lobby/lobby_more_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{289,114}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,116}</string>
			</dict>
			<key>TP/Lobby/lobby_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,292},{151,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,64}</string>
			</dict>
			<key>TP/Lobby/lobby_notice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{539,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{539,47}</string>
			</dict>
			<key>TP/Lobby/lobby_top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1},{1440,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1440,89}</string>
			</dict>
			<key>TP/Lobby/lobby_txt_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1414},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>TP/Lobby/lobby_txt_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1414},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>TP/Lobby/lobby_txt_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,127},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>TP/Lobby/lobby_txt_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>TP/Lobby/lobby_txt_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,43},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>TP/Lobby/lobby_txt_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,168},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,21}</string>
			</dict>
			<key>TP/Lobby/lobby_txt_spread.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1414},{79,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,22}</string>
			</dict>
			<key>TP/Lobby/lobby_txt_task.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,85},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>TP/Lobby/lobby_btn_shop_saoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,292},{63,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,65}</string>
			</dict>
			<key>TP/Lobby/lobby_light_mall_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,545},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>TP/Lobby/lobby_light_mall_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,210},{22,22}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>TP/Lobby/lobby_roomcard_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,558},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Lobby.png</string>
			<key>realTextureFileName</key>
			<string>Lobby.png</string>
			<key>size</key>
			<string>{1079,1442}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1079</integer>
			<key>height</key>
			<integer>1442</integer>
		</dict>
	</dict>
</plist>