<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TP/lobbyEnter/btnBRNN/btnBRNN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNBody.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,747},{104,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,59}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,497},{137,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,130}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNPork.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,515},{149,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,110}</string>
			</dict>
			<key>TP/lobbyEnter/btnBRNN/imgBRNNText.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,519},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/btnHHDZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/imgHHDZBlack.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,369},{146,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,157}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/imgHHDZRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,369},{150,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,158}</string>
			</dict>
			<key>TP/lobbyEnter/btnHHDZ/imgHHDZText.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,369},{217,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,59}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/btnKPQZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,796},{74,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,58}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZBody.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,684},{112,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,58}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,230},{168,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,163}</string>
			</dict>
			<key>TP/lobbyEnter/btnKPQZ/imgKPQZText.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,519},{213,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,59}</string>
			</dict>
			<key>TP/lobbyEnter/btnKSKS/btnKSKS.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{358,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,139}</string>
			</dict>
			<key>TP/lobbyEnter/btnKSKS/imgKSKSHuoJian.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,369},{128,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,156}</string>
			</dict>
			<key>TP/lobbyEnter/btnKSKS/imgKSKSText.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,186},{184,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,85}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/btnPSZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZHongChouMa.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,732},{108,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,57}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZHuangChouMa.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,684},{105,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,63}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZLvChouMa.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,806},{95,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,61}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZPork.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,370},{188,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,138}</string>
			</dict>
			<key>TP/lobbyEnter/btnPSZ/imgPSZText.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,625},{164,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,59}</string>
			</dict>
			<key>TP/lobbyEnter/btnSRF/btnSRF.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,230},{358,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,139}</string>
			</dict>
			<key>TP/lobbyEnter/btnSRF/imgSRFMM.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,369},{164,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,163}</string>
			</dict>
			<key>TP/lobbyEnter/btnSRF/imgSRFText.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,0},{186,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,85}</string>
			</dict>
			<key>TP/lobbyEnter/star/imgBigStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,867},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>TP/lobbyEnter/star/imgSmallStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,230},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>TP/lobbyEnter/imgPaoGuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,532},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LobbyGameEnter.png</string>
			<key>realTextureFileName</key>
			<string>LobbyGameEnter.png</string>
			<key>size</key>
			<string>{1022,912}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>912</integer>
		</dict>
	</dict>
</plist>