<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_service_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1004,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1004,536}}</string>
                <key>sourceSize</key>
                <string>{1004,536}</string>
            </dict>
            <key>Lobby_service_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,671},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Lobby_service_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>Lobby_service_tex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,607},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Lobby_service_tex_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,607},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Lobby_service_tex_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,607},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Lobby_service_tex_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,607},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Lobby_service_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,540},{354,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,65}}</string>
                <key>sourceSize</key>
                <string>{354,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>service.png</string>
            <key>size</key>
            <string>{1008,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca9ec2d1b39c49b5cc4b7190c5cbb9a2$</string>
            <key>textureFileName</key>
            <string>service.png</string>
        </dict>
    </dict>
</plist>
