<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cardType_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,364},{179,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,70}}</string>
                <key>sourceSize</key>
                <string>{179,70}</string>
            </dict>
            <key>btn_cardType_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,364},{179,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,70}}</string>
                <key>sourceSize</key>
                <string>{179,70}</string>
            </dict>
            <key>btn_rule_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,183},{179,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,70}}</string>
                <key>sourceSize</key>
                <string>{179,70}</string>
            </dict>
            <key>btn_rule_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,183},{179,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,70}}</string>
                <key>sourceSize</key>
                <string>{179,70}</string>
            </dict>
            <key>btn_wanfa_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{179,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,70}}</string>
                <key>sourceSize</key>
                <string>{179,70}</string>
            </dict>
            <key>btn_wanfa_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{179,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,70}}</string>
                <key>sourceSize</key>
                <string>{179,70}</string>
            </dict>
            <key>cardTypeShuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{614,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,344}}</string>
                <key>sourceSize</key>
                <string>{614,344}</string>
            </dict>
            <key>help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{868,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{868,513}}</string>
                <key>sourceSize</key>
                <string>{868,513}</string>
            </dict>
            <key>help_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,891},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>helptxt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{171,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,49}}</string>
                <key>sourceSize</key>
                <string>{171,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f4fc928360963bb5654706bb0a3a164$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
