<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niuniu_card_0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1271},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1271},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1271},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1130},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1130},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1130},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1130},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1130},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1673},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1311},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,989},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,989},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,989},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,989},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,848},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,848},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,848},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,848},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,707},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,707},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,707},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,707},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,566},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,566},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,566},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,566},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,425},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,425},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,425},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,425},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,284},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,284},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,284},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,284},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,143},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,143},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,143},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,143},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>niuniu_card_0x3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniu_card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6743927648f842b26b316c3591ae2f22:1/1$</string>
            <key>textureFileName</key>
            <string>niuniu_card.png</string>
        </dict>
    </dict>
</plist>
