<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,701},{625,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,627}}</string>
                <key>sourceSize</key>
                <string>{625,627}</string>
            </dict>
            <key>effect_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,585},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{694,697}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,697}}</string>
                <key>sourceSize</key>
                <string>{694,697}</string>
            </dict>
            <key>guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{491,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,491}}</string>
                <key>sourceSize</key>
                <string>{491,491}</string>
            </dict>
            <key>guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{907,749}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{907,749}}</string>
                <key>sourceSize</key>
                <string>{907,749}</string>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,701},{581,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,194}}</string>
                <key>sourceSize</key>
                <string>{581,194}</string>
            </dict>
            <key>win_bg_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2},{581,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,194}}</string>
                <key>sourceSize</key>
                <string>{581,194}</string>
            </dict>
            <key>win_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,753},{284,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,171}}</string>
                <key>sourceSize</key>
                <string>{284,171}</string>
            </dict>
            <key>win_txt_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1039},{284,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,171}}</string>
                <key>sourceSize</key>
                <string>{284,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldniuniu_win.png</string>
            <key>size</key>
            <string>{1803,1328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:230ef29d726c04f08751c225c1aa0059:209bd6e4f3ba4b727141f8140a4fba39:78caafe4280555084c047e4ad5fa6a53$</string>
            <key>textureFileName</key>
            <string>goldniuniu_win.png</string>
        </dict>
    </dict>
</plist>
