<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WinRecord_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1091,662}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1091,662}}</string>
                <key>sourceSize</key>
                <string>{1091,662}</string>
            </dict>
            <key>data0.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,38},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>data1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ico_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,136},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ico_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,94},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ico_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,80},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ico_spabe.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,38},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,38},{1042,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1042,22}}</string>
                <key>sourceSize</key>
                <string>{1042,22}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,150},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>title_shengfuzoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{143,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,34}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WinRecordLayout.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33bec65df2b1544e220131cd8f6bc339:1/1$</string>
            <key>textureFileName</key>
            <string>WinRecordLayout.png</string>
        </dict>
    </dict>
</plist>
