<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_asset_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,543},{233,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,52}}</string>
                <key>sourceSize</key>
                <string>{233,52}</string>
            </dict>
            <key>lobby_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{1334,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,88}}</string>
                <key>sourceSize</key>
                <string>{1334,88}</string>
            </dict>
            <key>lobby_btn_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1067},{42,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{42,72}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1263},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>lobby_btn_agency.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1729},{80,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{80,72}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1338},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>lobby_btn_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,845},{50,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{50,74}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,921},{50,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{50,70}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_btn_more_hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1723},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{50,74}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_btn_more_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1647},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{50,74}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_btn_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1565},{44,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{44,72}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1491},{154,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,75}}</string>
                <key>sourceSize</key>
                <string>{154,75}</string>
            </dict>
            <key>lobby_btn_shop_ani.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1431},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>lobby_btn_spread.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1647},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{80,74}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,993},{46,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{46,72}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_diamond_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1842},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>lobby_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1213},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>lobby_mall_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1799},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>lobby_mall_saoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,778},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>lobby_menu_bg_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1811},{187,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,88}}</string>
                <key>sourceSize</key>
                <string>{187,88}</string>
            </dict>
            <key>lobby_more_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{365,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,116}}</string>
                <key>sourceSize</key>
                <string>{365,116}</string>
            </dict>
            <key>lobby_more_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1491},{48,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{48,72}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_more_btn_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1141},{44,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{44,70}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>lobby_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1338},{151,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,64}}</string>
                <key>sourceSize</key>
                <string>{151,64}</string>
            </dict>
            <key>lobby_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{539,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,47}}</string>
                <key>sourceSize</key>
                <string>{539,47}</string>
            </dict>
            <key>lobby_notice_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1901},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>lobby_notice_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1901},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>lobby_notice_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1901},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>lobby_red_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1311},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>lobby_roomcard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1901},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>lobby_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1440,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,89}}</string>
                <key>sourceSize</key>
                <string>{1440,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lobby.png</string>
            <key>size</key>
            <string>{248,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05582efbc26745e35aa40c28e59cc766$</string>
            <key>textureFileName</key>
            <string>Lobby.png</string>
        </dict>
    </dict>
</plist>
