<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_chip_1000000_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{167,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,88}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_1000000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_1000000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_100000_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,260},{167,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,88}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_100000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,260},{167,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,88}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_100000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_10000_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{167,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,88}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_10000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_10000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,88},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_1000_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,88},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_1000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_1000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,174},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_100_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,350},{167,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,88}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_100_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,350},{167,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,88}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>btn_chip_100_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,174},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,84}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_score.png</string>
            <key>size</key>
            <string>{509,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cce14ff1a85f038ff843bf171c8ace50:4a3b8242eb7a1e4dc4d6b011355fb204:731f4cd3eef6ea1b8a7562cbb8b17aeb$</string>
            <key>textureFileName</key>
            <string>btn_score.png</string>
        </dict>
    </dict>
</plist>
