<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_sign_btn_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,799},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,82}}</string>
                <key>sourceSize</key>
                <string>{214,82}</string>
            </dict>
            <key>Lobby_sign_btn_sign0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,583},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,82}}</string>
                <key>sourceSize</key>
                <string>{214,82}</string>
            </dict>
            <key>Lobby_sign_img_shaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,532},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>Lobby_sign_recond_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,396},{185,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,230}}</string>
                <key>sourceSize</key>
                <string>{185,230}</string>
            </dict>
            <key>Lobby_sign_recond_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,463},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{59,51}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Lobby_sign_recond_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,583},{55,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{55,59}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Lobby_sign_recond_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,398},{57,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Lobby_sign_recond_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,467},{59,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{59,63}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Lobby_sign_recond_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,398},{57,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{57,63}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Lobby_sign_recond_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,941},{67,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Lobby_sign_recond_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,941},{67,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,63}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Lobby_sign_recond_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Lobby_sign_recond_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,209},{185,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,230}}</string>
                <key>sourceSize</key>
                <string>{185,230}</string>
            </dict>
            <key>Lobby_sign_recond_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{205,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,250}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>Lobby_sign_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,548},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>Lobby_sign_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,398},{148,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,37}}</string>
                <key>sourceSize</key>
                <string>{148,37}</string>
            </dict>
            <key>Lobby_sign_title_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{541,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,202}}</string>
                <key>sourceSize</key>
                <string>{541,202}</string>
            </dict>
            <key>Lobby_sign_title_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,394}}</string>
                <key>sourceSize</key>
                <string>{768,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11ffc48b336cd8e0a443b2b6bf0f1206:1/1$</string>
            <key>textureFileName</key>
            <string>sign.png</string>
        </dict>
    </dict>
</plist>
