<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_chip_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,175},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>btn_chip_blue_0.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{171,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,90}}</string>
                <key>sourceSize</key>
                <string>{171,90}</string>
            </dict>
            <key>btn_chip_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,94},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>btn_chip_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,90}}</string>
                <key>sourceSize</key>
                <string>{171,90}</string>
            </dict>
            <key>btn_chip_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>btn_chip_yellow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>btn_chip_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_score.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2db186ea343c9885ae67773cc800d6b:1/1$</string>
            <key>textureFileName</key>
            <string>btn_score.png</string>
        </dict>
    </dict>
</plist>
