<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niuniu_btn_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,470},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,407},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,326},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,308},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,245},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,248},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,410},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,407},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_25_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,389},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,245},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,167},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,227},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,164},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,326},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,164},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,146},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_btn_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,488},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>niuniu_btn_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,544},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>niuniu_btn_more_hide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>niuniu_btn_more_hide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,506},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>niuniu_btn_more_show_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,491},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>niuniu_btn_more_show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,491},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>niuniu_btn_qz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,334},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_btn_qz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,329},{170,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,79}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>niuniu_has_niu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{193,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,79}}</string>
                <key>sourceSize</key>
                <string>{193,79}</string>
            </dict>
            <key>niuniu_has_niu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{193,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,79}}</string>
                <key>sourceSize</key>
                <string>{193,79}</string>
            </dict>
            <key>niuniu_has_niu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{193,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,79}}</string>
                <key>sourceSize</key>
                <string>{193,79}</string>
            </dict>
            <key>niuniu_no_niu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{193,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,79}}</string>
                <key>sourceSize</key>
                <string>{193,79}</string>
            </dict>
            <key>niuniu_no_niu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,139},{193,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,79}}</string>
                <key>sourceSize</key>
                <string>{193,79}</string>
            </dict>
            <key>niuniu_no_niu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{193,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,79}}</string>
                <key>sourceSize</key>
                <string>{193,79}</string>
            </dict>
            <key>niuniu_sit.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,41},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>niuniu_xz_btn_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,83},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>niuniu_xz_btn_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,83},{171,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,79}}</string>
                <key>sourceSize</key>
                <string>{171,79}</string>
            </dict>
            <key>player_panel_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,83},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>player_panel_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,135}}</string>
                <key>sourceSize</key>
                <string>{286,135}</string>
            </dict>
            <key>player_panel_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{130,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,37}}</string>
                <key>sourceSize</key>
                <string>{130,37}</string>
            </dict>
            <key>player_panel_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{163,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,201}}</string>
                <key>sourceSize</key>
                <string>{163,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_niu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42c30cf8439e8398fadded741d2e3d80:1/1$</string>
            <key>textureFileName</key>
            <string>gold_niu.png</string>
        </dict>
    </dict>
</plist>
