<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TP/Mall/mall_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>TP/Mall/mall_btn_bg_normall.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1330},{365,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,113}</string>
			</dict>
			<key>TP/Mall/mall_btn_bg_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,548},{365,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,113}</string>
			</dict>
			<key>TP/Mall/mall_btn_iap.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,737},{229,81}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,81}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_diamond_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,1449},{295,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_diamond_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{291,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_gold_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1449},{295,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_gold_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1},{291,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_room_card_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1},{295,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_menu_rooom_card_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1445},{291,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,82}</string>
			</dict>
			<key>TP/Mall/mall_btn_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,502},{233,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,81}</string>
			</dict>
			<key>TP/Mall/mall_info_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1280},{48,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,43}</string>
			</dict>
			<key>TP/Mall/mall_info_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,238},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>TP/Mall/mall_info_room_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,502},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>
			<key>TP/Mall/mall_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,298},{980,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{980,311}</string>
			</dict>
			<key>TP/Mall/mall_item_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,1144},{100,100}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,160}</string>
			</dict>
			<key>TP/Mall/mall_item_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,1246},{154,112}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,126}</string>
			</dict>
			<key>TP/Mall/mall_item_gold_btn_buy_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1280},{43,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,45}</string>
			</dict>
			<key>TP/Mall/mall_item_gold_send_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1280},{217,26}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,26}</string>
			</dict>
			<key>TP/Mall/mall_item_gold_title_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1308},{59,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,19}</string>
			</dict>
			<key>TP/Mall/mall_item_goods_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,968},{258,279}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{259,279}</string>
			</dict>
			<key>TP/Mall/mall_item_goods_btn_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,357},{189,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,73}</string>
			</dict>
			<key>TP/Mall/mall_item_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,1254},{241,254}}</string>
				<key>offset</key>
				<string>{0,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,293}</string>
			</dict>
			<key>TP/Mall/mall_item_room_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{1706,1144},{90,115}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,134}</string>
			</dict>
			<key>TP/Mall/mall_item_room_card_title_date.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,238},{57,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,19}</string>
			</dict>
			<key>TP/Mall/mall_item_room_card_title_days.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1308},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,18}</string>
			</dict>
			<key>TP/Mall/mall_left_menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,502},{354,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,750}</string>
			</dict>
			<key>TP/Mall/mall_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,543},{347,162}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,164}</string>
			</dict>
			<key>TP/Mall/mall_logo_flash.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,1280},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>TP/Mall/mall_logo_light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1254},{303,144}}</string>
				<key>offset</key>
				<string>{-18,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,164}</string>
			</dict>
			<key>TP/Mall/mall_logo_light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1706,915},{303,144}}</string>
				<key>offset</key>
				<string>{-18,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,164}</string>
			</dict>
			<key>TP/Mall/mall_sale_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1144},{99,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,95}</string>
			</dict>
			<key>TP/Mall/mall_title_pay_type.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,1},{354,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,67}</string>
			</dict>
			<key>TP/Mall/mall_top_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{980,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{980,110}</string>
			</dict>
			<key>TP/Mall/mall_top_info_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1},{235,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,54}</string>
			</dict>
			<key>TP/Mall/mall_txt_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1527},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>TP/Mall/Store/mall_dialog_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{875,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{875,499}</string>
			</dict>
			<key>TP/Mall/Store/mall_dialog_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1449},{488,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,76}</string>
			</dict>
			<key>TP/Mall/Store/mall_dialog_title_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1531},{1,1}}</string>
				<key>offset</key>
				<string>{77,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,65}</string>
			</dict>
			<key>TP/Mall/Store/mall_dialog_title_btn_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1254},{155,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,65}</string>
			</dict>
			<key>TP/Mall/mall_btn_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{1378,1400},{227,81}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,81}</string>
			</dict>
			<key>TP/Mall/mall_btn_zfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1706,1061},{225,81}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,81}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Mall.png</string>
			<key>realTextureFileName</key>
			<string>Mall.png</string>
			<key>size</key>
			<string>{2036,1533}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2036</integer>
			<key>height</key>
			<integer>1533</integer>
		</dict>
	</dict>
</plist>