<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>data0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>data1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>ico_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ico_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ico_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ico_spabe.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{937,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{937,56}}</string>
                <key>sourceSize</key>
                <string>{937,56}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>title_shengfuzoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,70}}</string>
                <key>sourceSize</key>
                <string>{232,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WinRecordLayout.png</string>
            <key>size</key>
            <string>{1569,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200de3787b921463f8a7ef6ad4e74af9:528de4e8df29f791f30657f8095860f3:fa9a37e21cc30a3c9b83e3915df21b2c$</string>
            <key>textureFileName</key>
            <string>WinRecordLayout.png</string>
        </dict>
    </dict>
</plist>
