<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>yuanquan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>yuanquan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,17},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SmallLuDanNode.png</string>
            <key>size</key>
            <string>{48,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeeb80cc341853ac1b5be2ed02b73b39:3639978eca2cc02a11d4f10bbe91d2b9:82a69ccc9de8e66cadea31ff4c16b76e$</string>
            <key>textureFileName</key>
            <string>SmallLuDanNode.png</string>
        </dict>
    </dict>
</plist>
