<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_Friend_btnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,97},{760,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{760,76}}</string>
                <key>sourceSize</key>
                <string>{762,78}</string>
            </dict>
            <key>Lobby_Friend_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,97},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>Lobby_Friend_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>Lobby_Friend_btn_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,97},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>Lobby_Friend_check_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,175},{536,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,58}}</string>
                <key>sourceSize</key>
                <string>{536,58}</string>
            </dict>
            <key>Lobby_Friend_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{999,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{999,93}}</string>
                <key>sourceSize</key>
                <string>{999,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{1003,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:726cabed2fd21f02e3e5afacd2e98088$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
