<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>qznn_rw_gz.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>434</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-147.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>qznn_rw_hz_r.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>434</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-60</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>qznn_rw_hz_l.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>434</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-97.5</real>
				<key>offsetY</key>
				<real>22</real>
			</dict>
			<key>qznn_rw.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>434</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-92</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00000.png</key>
			<dict>
				<key>width</key>
				<integer>354</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>248</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00001.png</key>
			<dict>
				<key>width</key>
				<integer>353</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00002.png</key>
			<dict>
				<key>width</key>
				<integer>353</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>957</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00003.png</key>
			<dict>
				<key>width</key>
				<integer>352</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1311</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00004.png</key>
			<dict>
				<key>width</key>
				<integer>347</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1664</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00005.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00006.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00007.png</key>
			<dict>
				<key>width</key>
				<integer>309</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>661</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>49.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00008.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>971</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>68.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00009.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1257</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>76</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00010.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1540</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00011.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>76</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00012.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>281</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>76</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00013.png</key>
			<dict>
				<key>width</key>
				<integer>279</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00014.png</key>
			<dict>
				<key>width</key>
				<integer>279</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>842</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00015.png</key>
			<dict>
				<key>width</key>
				<integer>279</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1122</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00016.png</key>
			<dict>
				<key>width</key>
				<integer>277</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1402</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00017.png</key>
			<dict>
				<key>width</key>
				<integer>277</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1680</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00018.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>67.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00019.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>50</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00020.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00021.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>940</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00022.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1276</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00023.png</key>
			<dict>
				<key>width</key>
				<integer>353</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1623</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00024.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>519</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00025.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>519</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00026.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>519</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00027.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1084</integer>
				<key>y</key>
				<integer>519</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00028.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>519</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>DT_liuguang_ty/DT_lg_ty_00029.png</key>
			<dict>
				<key>width</key>
				<integer>359</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>qznn_di.png</key>
			<dict>
				<key>width</key>
				<integer>434</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>434</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>qznn_Animation0.png</string>
			<key>realTextureFileName</key>
			<string>qznn_Animation0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>