<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_task_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{47,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,111}}</string>
                <key>sourceSize</key>
                <string>{47,111}</string>
            </dict>
            <key>Lobby_task_record_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{53,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01d0d755890b85eed83996ea1af67f9f:353382200f404120cdbcad6587377a10:0fe40ccc5647575d2f7ff520a7cb8a4b$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
