<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,686}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,686}}</string>
                <key>sourceSize</key>
                <string>{560,686}</string>
            </dict>
            <key>chat_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,450},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>chat_btn_chat_.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{74,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,178}}</string>
                <key>sourceSize</key>
                <string>{74,178}</string>
            </dict>
            <key>chat_btn_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,90},{74,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,178}}</string>
                <key>sourceSize</key>
                <string>{74,178}</string>
            </dict>
            <key>chat_btn_emoticons_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,90},{74,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,178}}</string>
                <key>sourceSize</key>
                <string>{74,178}</string>
            </dict>
            <key>chat_btn_emoticons_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,182},{74,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,178}}</string>
                <key>sourceSize</key>
                <string>{74,178}</string>
            </dict>
            <key>chat_btn_jilu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,270},{74,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,178}}</string>
                <key>sourceSize</key>
                <string>{74,178}</string>
            </dict>
            <key>chat_btn_jilu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,270},{74,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,178}}</string>
                <key>sourceSize</key>
                <string>{74,178}</string>
            </dict>
            <key>chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,362},{145,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{145,74}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
            <key>chat_btn_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{161,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{161,86}}</string>
                <key>sourceSize</key>
                <string>{167,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{929,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffe781ed8820b413afa8f2e6cc8dfa5e:bfc0cad2fa2e4b43f11630b0fe9143e6:560f0423db1a1e46e68995a55a406f35$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
