<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldNiu_sit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>gold_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{335,184}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{335,184}}</string>
                <key>sourceSize</key>
                <string>{343,192}</string>
            </dict>
            <key>gold_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{335,184}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{335,184}}</string>
                <key>sourceSize</key>
                <string>{343,192}</string>
            </dict>
            <key>gold_effectS1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{194,251}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{194,251}}</string>
                <key>sourceSize</key>
                <string>{196,253}</string>
            </dict>
            <key>gold_effectS2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,398},{194,251}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{194,251}}</string>
                <key>sourceSize</key>
                <string>{196,253}</string>
            </dict>
            <key>gold_effect_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{282,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,131}}</string>
                <key>sourceSize</key>
                <string>{282,131}</string>
            </dict>
            <key>gold_effect_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{144,203}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{144,203}}</string>
                <key>sourceSize</key>
                <string>{144,207}</string>
            </dict>
            <key>gold_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,931},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>gold_zhuang_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>player_mianban_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{272,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,119}}</string>
                <key>sourceSize</key>
                <string>{272,119}</string>
            </dict>
            <key>player_mianban_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,207},{134,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,189}}</string>
                <key>sourceSize</key>
                <string>{134,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerPanel.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d8031c69a7852f9f01fbd2495e6d8b0$</string>
            <key>textureFileName</key>
            <string>playerPanel.png</string>
        </dict>
    </dict>
</plist>
