<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TP/NiuNiu/niuniu_txt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,159},{174,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_complete.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,111},{80,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_four.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,159},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,70}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_hua.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,238},{117,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,44}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,284},{87,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,70}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu0.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,193},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,232},{76,40}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,274},{76,40}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,236},{77,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,42},{76,40}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu5.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,120},{76,40}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu6.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,111},{77,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu7.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,190},{77,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu8.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,198},{74,40}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_niu9.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,95},{75,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_qiag5.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1},{108,39}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_qiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,137},{86,39}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_qiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,96},{92,39}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_qiang20.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,284},{115,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_qiang25.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1},{115,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_qiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,1},{92,39}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_qiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{92,39}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_qiang5.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1},{93,39}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>TP/NiuNiu/niuniu_txt_xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{156,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TxtTip.png</string>
			<key>realTextureFileName</key>
			<string>TxtTip.png</string>
			<key>size</key>
			<string>{365,341}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>365</integer>
			<key>height</key>
			<integer>341</integer>
		</dict>
	</dict>
</plist>