<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{976,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,559}}</string>
                <key>sourceSize</key>
                <string>{976,559}</string>
            </dict>
            <key>PlayInfo_btn_add_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,563},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>PlayInfo_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,739},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>PlayInfo_btn_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,754},{95,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{95,76}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>PlayInfo_btn_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,739},{89,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{89,54}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>PlayInfo_btn_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,754},{87,90}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{87,90}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>PlayInfo_btn_face_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,754},{72,83}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>PlayInfo_btn_face_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,733},{72,71}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,71}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>PlayInfo_btn_face_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,754},{67,81}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{67,81}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
            <key>PlayInfo_btn_face_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,743},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>PlayInfo_btn_face_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,754},{82,79}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{82,79}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>PlayInfo_btn_face_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,754},{65,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{65,79}}</string>
                <key>sourceSize</key>
                <string>{107,85}</string>
            </dict>
            <key>PlayInfo_btn_face_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,754},{98,83}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,83}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>PlayInfo_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,737},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>PlayInfo_btn_remove_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,563},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>PlayInfo_btn_revise_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{224,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,50}}</string>
                <key>sourceSize</key>
                <string>{224,50}</string>
            </dict>
            <key>PlayInfo_btn_sex_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,563},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>PlayInfo_btn_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,806},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>PlayInfo_icon_coisn.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,627},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>PlayInfo_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,692},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>PlayInfo_icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,676},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>PlayInfo_img_faceList_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,563},{564,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,189}}</string>
                <key>sourceSize</key>
                <string>{564,189}</string>
            </dict>
            <key>PlayInfo_img_face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,563},{127,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,123}}</string>
                <key>sourceSize</key>
                <string>{127,123}</string>
            </dict>
            <key>PlayInfo_img_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,806},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>PlayInfo_img_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>PlayInfo_img_women.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,692},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>PlayInfo_line_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,132},{128,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,4}}</string>
                <key>sourceSize</key>
                <string>{130,4}</string>
            </dict>
            <key>PlayInfo_line_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{4,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,458}}</string>
                <key>sourceSize</key>
                <string>{4,458}</string>
            </dict>
            <key>PlayInfo_line_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{128,4}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,4}}</string>
                <key>sourceSize</key>
                <string>{130,4}</string>
            </dict>
            <key>PlayInfo_write_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,563},{178,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,44}}</string>
                <key>sourceSize</key>
                <string>{178,44}</string>
            </dict>
            <key>common_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,692},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerInfo.png</string>
            <key>size</key>
            <string>{992,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbb4dc5c0c3ff76b7d08a985ab080d81$</string>
            <key>textureFileName</key>
            <string>PlayerInfo.png</string>
        </dict>
    </dict>
</plist>
