<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>shop_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,56},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>shop_effect_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>shop_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{52,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,23}}</string>
                <key>sourceSize</key>
                <string>{52,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopAction.png</string>
            <key>size</key>
            <string>{181,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:925654178f571e84473261dcbeeb2c92:6331e3312cb2c971413a2a8763a05f40:206b7e5de2051af5a526ba5aa70f0f77$</string>
            <key>textureFileName</key>
            <string>shopAction.png</string>
        </dict>
    </dict>
</plist>
